<div class="modal fade" id="team1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row g-0 mb-3 border-0 border-bottom pb-3">
                <div class="col-md-2">
                  <img src="/img/team/saniiro-emp.png" width="96" height="96" class="img-fluid rounded-circle border border-1 " alt="saniiro employee">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title mb-3">CA Ashwani Mundra</h5>
                    <p class="card-text blockquote-footer small">
                        Founder Director, Saniiro Technologies Private Limited</p>
                  </div>
                </div>
              </div>

            <div class="row">
                <div class="col-12 px-4">
                    <article class="blog-post">
                        <p> With a career spanning over 18 years in the field of chartered accountancy, CA Ashwani Mundra is a seasoned professional known for his expertise in audit compliances, company law matters, and litigations. As the Founder Director of Saniiro Technologies Private Limited, he has played a pivotal role in guiding the company towards financial excellence and regulatory compliance. </p>
                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Education:</h5>
                        <ul>
                            <li><strong>B.Com </strong></li>
                            <li><strong>FCA (Fellow Chartered Accountant) </strong></li>
                            <li><strong>DISA (Diploma in Information Systems Audit) </strong></li>
                            <li><strong>PR9ICAI (Practicing Resource Persons at Institute of Chartered Accountants of India) </strong></li>
                            <li><strong>CCCA (Certified Corporate Compliance Advisor) </strong></li>
                            <li><strong>CA (Chartered Accountant) </strong></li>
                        </ul>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Professional Journey</h5>
                        <p class="blog-post-meta">CA Ashwani Mundra's career journey has been marked by a relentless pursuit of excellence in the field of chartered accountancy. His in-depth understanding of audit procedures, compliance frameworks, and company law intricacies has made him a trusted name in the industry. With an unswerving commitment to his clients, he has provided invaluable guidance and strategic insights, enabling businesses to navigate complex financial and regulatory landscapes.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Expertise</h5>
                        <p class="blog-post-meta"> <a href="#">Ashwani Mundra's extensive experience has honed his skills in the following areas</a></p>
                        <ul>
                            <li><strong>Audit Compliances: </strong> Adept at conducting thorough and accurate audits, ensuring adherence to regulatory norms and accounting standards.</li>
                            <li><strong>Company Law Matters: </strong> Proficient in assisting companies with intricate legal matters, ranging from incorporation to corporate governance.</li>
                            <li><strong>Litigations: </strong> Well-versed in handling legal disputes and litigations related to financial matters, offering comprehensive solutions to mitigate risks.</li>
                        </ul>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Contributions</h5>
                        <p class="blog-post-meta">As a thought leader and contributor to the profession, CA Ashwani Mundra has actively participated in various seminars, workshops, and training sessions. His role as a Practicing Resource Person at the Institute of Chartered Accountants of India (ICAI) underscores his commitment to enhancing professional knowledge and sharing his insights with fellow practitioners.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Vision</h5>
                        <p class="blog-post-meta">CA Ashwani Mundra envisions a corporate landscape where businesses seamlessly integrate financial prudence, compliance, and ethical practices. His dedication to fostering financial wellness and transparent business operations remains at the core of his professional journey.</p>
                        <p>In conclusion, CA Ashwani Mundra's journey is a testament to his unwavering dedication to the field of chartered accountancy. His multifaceted expertise, educational qualifications, and commitment to excellence make him a true leader in the domain, driving businesses towards success through financial acumen and regulatory diligence.</p>

                    </article>

                </div>
            </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>