<div class="modal fade" id="team2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row g-0 mb-3 border-0 border-bottom pb-3">
                <div class="col-md-2">
                  <img src="/img/team/saniiro-emp.png" width="96" height="96" class="img-fluid rounded-circle border border-1 " alt="saniiro employee">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title mb-3">Mr. Praveen Suthar</h5>
                    <p class="card-text blockquote-footer small">
                        Technical Director, Saniiro Technologies Private Limited</p>
                  </div>
                </div>
              </div>

            <div class="row">
                <div class="col-12 px-4">
                    <article class="blog-post">
                        <p> Mr. Praveen Suthar is a dynamic and accomplished Technical Director at Saniiro Technologies Private Limited, contributing significantly to the company's technological prowess. With an extensive background in fintech product development and a wealth of experience spanning over 12 years, he has emerged as a driving force in the realm of software engineering and technology solutions. </p>
                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Education:</h5>
                        <ul>
                            <li><strong>BCA (Bachelor of Computer Applications) </strong></li>
                        </ul>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Technical Proficiency</h5>
                        <p class="blog-post-meta"> <a href="#">Praveen Suthar's technical acumen is underscored by his proficiency in a diverse array of programming languages and technologies, including but not limited to</a></p>
                        <ul>
                            <li><strong>C </strong> </li>
                            <li><strong>C++ </strong> </li>
                            <li><strong>Audit Compliances </strong></li>
                            <li><strong>Node.JS </strong></li>
                            <li><strong>SQL </strong></li>
                            <li><strong>Angular </strong></li>
                            <li><strong>Ionic </strong></li>
                        </ul>


                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Professional Journey</h5>
                        <p>Throughout his career, Mr. Suthar has been instrumental in conceptualizing, developing, and delivering cutting-edge fintech solutions. His comprehensive understanding of programming languages and his ability to leverage them in creating innovative applications has consistently set him apart. With an intuitive grasp of software architecture and design principles, he has played a pivotal role in transforming business concepts into functional, user-centric products.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Fintech Expertise</h5>
                        <p>Mr. Praveen Suthar's specialization in fintech product development reflects his deep-rooted passion for merging finance and technology. His proficiency in developing secure and scalable fintech solutions has not only empowered businesses but has also contributed to the evolution of the financial services landscape.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Contributions</h5>
                        <p>As a thought leader in the technical sphere, Mr. Suthar has actively shared his insights through participation in tech forums, workshops, and discussions. His commitment to staying up-to-date with the latest advancements in programming languages and technologies has enabled him to provide innovative solutions that address complex business challenges.</p>


                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Vision</h5>
                        <p class="blog-post-meta">Mr. Praveen Suthar envisions a future where technology becomes an enabler for financial empowerment and seamless transactions. His mission is to leverage his technical prowess to create transformative solutions that bridge the gap between financial services and cutting-edge technology.</p>
                        <p>In conclusion, Mr. Praveen Suthar's journey is a testament to his unwavering commitment to harnessing technology for the betterment of the fintech landscape. His expertise in programming languages, fintech product development, and forward-looking vision positions him as a trailblazer in the industry, driving innovation and progress at Saniiro Technologies Private Limited and beyond.</p>

                    </article>
                </div>
            </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>