<div class="modal fade" id="team3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row g-0 mb-3 border-0 border-bottom pb-3">
                <div class="col-md-2">
                  <img src="/img/team/saniiro-emp.png" width="96" height="96" class="img-fluid rounded-circle border border-1 " alt="saniiro employee">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title mb-3">Mr. Nikhil Jain</h5>
                    <p class="card-text blockquote-footer small">
                        Head of Sales, Support, Marketing, HR, and Operations, Saniiro Technologies Private Limited</p>
                  </div>
                </div>
              </div>

            <div class="row">
                <div class="col-12 px-4">
                    <article class="blog-post">
                        <p> Mr. Nikhil Jain is a dynamic and versatile leader at the helm of multiple crucial functions within Saniiro Technologies Private Limited. With a rich educational background, extensive industry experience, and a unique blend of skills, he has spearheaded various aspects of the company's growth, including sales, support, marketing, HR, and operations.</p>
                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Education:</h5>
                        <ul>
                            <li><strong>MBA (Master of Business Administration) </strong> with Specialization in Global Operations and Marketing</li>

                        </ul>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Professional Journey</h5>
                        <p class="blog-post-meta">Mr. Nikhil Jain's career journey is characterized by his ability to manage diverse responsibilities with exceptional finesse. With over 5 years of experience in a similar role in the IT hardware and software sector, he has consistently demonstrated his proficiency in leadership and management. His astute understanding of different facets of the business has made him a sought-after figure in the industry.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Client Management Expertise:</h5>
                        <p class="blog-post-meta"> Nikhil Jain's track record in managing prominent corporate clients like Walt Disney and Jaguar Land Rover speaks volumes about his prowess in client relationship management. His strategic approach to understanding client needs and delivering tailored solutions has contributed significantly to Saniiro Technologies' reputation as a reliable partner.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Multifaceted Skills:</h5>
                        <p class="blog-post-meta">As a head overseeing sales, support, marketing, HR, and operations, Nikhil Jain's ability to navigate and excel in various domains is truly exceptional. His leadership encompasses a wide range of responsibilities, highlighting his adaptability and capacity to drive holistic organizational growth.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Family Background Advantage</h5>
                        <p class="blog-post-meta">Coming from a family background of chartered accountants, Nikhil Jain brings a unique advantage to his role. His innate understanding of the accounting software industry aligns seamlessly with Saniiro Technologies' core business focus, enabling him to provide insights that bridge the gap between technology and finance.</p>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Vision</h5>
                        <p class="blog-post-meta">Mr. Nikhil Jain envisions a future where seamless integration of sales, support, marketing, HR, and operations forms the backbone of organizational success. His commitment to nurturing client relationships, fostering internal collaboration, and driving operational efficiency serves as the foundation for Saniiro Technologies' growth trajectory.</p>
                        <p>In conclusion, Mr. Nikhil Jain's profile reflects his exceptional ability to manage and lead various critical functions within Saniiro Technologies Private Limited. His educational qualifications, diverse industry experience, and innate understanding of the accounting software domain uniquely position him to drive the company's success across multiple dimensions.</p>

                    </article>

                </div>
            </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>