<div class="modal fade" id="team4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row g-0 mb-3 border-0 border-bottom pb-3">
                <div class="col-md-2">
                  <img src="/img/team/saniiro-emp.png" width="96" height="96" class="img-fluid rounded-circle border border-1 " alt="saniiro employee">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <h5 class="card-title mb-3">Mr. Dharmaveer Yadav</h5>
                    <p class="card-text blockquote-footer small">
                        Full Stack Developer & Technical Team Lead, Saniiro Technologies Private Limited</p>
                  </div>
                </div>
              </div>

            <div class="row">
                <div class="col-12 px-4">
                    <article class="blog-post">
                        <p> Mr. Dharmaveer Yadav is an accomplished Full Stack Developer and Technical Team Lead at Saniiro Technologies Private Limited. With a robust background in software development and a wealth of experience spanning over 14 years, he has emerged as a driving force in creating innovative and efficient technical solutions.</p>
                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Education:</h5>
                        <ul>
                            <li><strong>MCA (Master of Computer Applications) </strong></li>
                        </ul>

                        <hr class="text-dark border-bottom w-100" />

                        <h5 class="h5 link-body-emphasis mb-1 fw-400">Technical Proficiency</h5>
                        <p class="blog-post-meta"> <a href="#">Dharmaveer Yadav's technical prowess encompasses an impressive array of programming languages and technologies, including, but not limited to</a></p>
                        <ul>
                            <li><strong>C </strong> </li>
                            <li><strong>C++ </strong> </li>
                            <li><strong>Audit Compliances </strong></li>
                            <li><strong>Node.JS </strong></li>
                            <li><strong>SQL </strong></li>
                            <li><strong>Angular </strong></li>
                            <li><strong>Ionic </strong></li>
                            <li><strong>PHP </strong></li>
                            <li><strong>WordPress </strong></li>
                        </ul>
                        <hr class="text-dark border-bottom w-100" />

                                    <h5 class="h5 link-body-emphasis mb-1 fw-400">Professional Journey</h5>
                                    <p>Throughout his career, Mr. Yadav has contributed significantly to the world of product-based development. His exceptional command over various programming languages and his ability to seamlessly integrate them has consistently set him apart. As a Technical Team Lead, he has been instrumental in guiding his team towards creating cutting-edge software solutions.</p>

                                    <hr class="text-dark border-bottom w-100" />

                                    <h5 class="h5 link-body-emphasis mb-1 fw-400">Ecommerce Expertise</h5>
                                    <p>Dharmaveer Yadav's specialization in ecommerce website development showcases his proficiency in creating online platforms that drive business growth. His adeptness in understanding user behavior, designing intuitive user interfaces, and integrating secure payment gateways has been pivotal in enhancing the online shopping experience for end-users.</p>

                                    <hr class="text-dark border-bottom w-100" />

                                    <h5 class="h5 link-body-emphasis mb-1 fw-400">Contributions</h5>
                                    <p>A tech enthusiast and a seasoned developer, Mr. Yadav has actively participated in tech conferences, workshops, and knowledge-sharing forums. His dedication to staying updated with the latest trends in the software development landscape has empowered him to contribute innovative ideas to his team and the industry.</p>


                                    <hr class="text-dark border-bottom w-100" />

                                    <h5 class="h5 link-body-emphasis mb-1 fw-400">Vision</h5>
                                    <p class="blog-post-meta">
                                        Mr. Dharmaveer Yadav envisions a future where technology seamlessly integrates into daily life, simplifying processes and enhancing user experiences. His mission is to leverage his technical prowess to build scalable and user-centric software solutions that address real-world challenges.                                    </p>
                                    <p>In conclusion, Mr. Dharmaveer Yadav's journey exemplifies his unwavering dedication to pushing the boundaries of software development. His extensive expertise in programming languages, ecommerce website development, and leadership roles make him an asset to Saniiro Technologies Private Limited, shaping its technological landscape and fostering innovation.</p>

                                
                    </article>

                </div>
            </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>