
        <!-- Start Page Title Area -->
        <div class="page-title-area">
            <div class="container">
                <div class="d-flex flex-column">
                    <h2 class="page-title-header">Discover Saniiro Business Cloud Solutions</h2>
                   <p class="page-title-para">Saniiro Business Cloud People, delivers amazing workforce experiences, so that customers can become great employer brands, increasing engagement, performance, and retention, while making it easier to acquire top talent.</p>
                </div>
            </div>

            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start About Area -->
        <section class="about-area ptb-110 ">
            <div class="container">
                <div class="row align-items-center mb-5">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="/img/about/account-and-billing.svg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                           
                            <h2>Best in class Accounting and Billing software</h2>
                            <p>At Saniiro Technologies Private Limited we provide the best in class accounting and billing software, which along with the various applications will aid you to get a better understanding of what your company needs. We customize our services according the needs of every client. Our GST accounting software helps you to get a more comprehensive overview of what your books should look like to include GST. We also have the best ecommerce development tools in the market which comes at an affordable price. Saniiro also provide an ecommerce website builder which helps to get an appealing website for your clients.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row align-items-center mb-5">
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                       
                            <h2>The Global reach of the Financial Management</h2>
                            <p>We offer a range of financial management systems to help you get a better grip on your books. One of our most popular financial tracking software is our quotation management software which lets you create, track and submit quotes and invoices with ease. Saniiro kept its user interface very user friendly which allows anyone to use it without having any trouble. We also provide the best CMS software as well, which lets you seamlessly manage your web content to your liking. Our CMS system takes into consideration a lot of factors before showing you how to best manage your content.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="/img/about/global-management.svg" alt="image">
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="/img/about/inventory-management.svg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                       
                            <h2>Best in class Inventory Managment</h2>
                            <p>We also provide inventory management software which would let you keep track of your orders, inventory levels, sales and deliveries. This software takes in a range of data before presenting you with the entire picture of what your books would look like. It is our bet that you would not find a better inventory management system at the prices we offer. However, inventory management is not the only management software we provide, as the task management software would keep track of tracking, testing, planning and reporting, which would speed up your company achieving the goals you set.</p>
                        </div>
                    </div>

                </div>

                <div class="about-inner-area">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-text">
								<h3>Our History</h3>
								<p>Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et tiram.</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-text">
								<h3>Our Mission</h3>
								<p>Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et tiram.</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
							<div class="about-text">
								<h3>Who we are</h3>
								<p>Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et tiram.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Features Area -->
        <!-- <section class="features-area ptb-110 bg-f1f3f6">
            <div class="container">
                <div class="section-title">
                    <h2>Big Data Value & Benefits</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="overview-box">
                    <div class="image">
                        <img src="/img/1.png" class="object-fit-cover border border-1 border-primary rounded-3 " alt="image">
                    </div>

                    <div class="content">
                        <h3>Sales Increase</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <ul class="features-list">
                            <li><span><i class='bx bx-check-double'></i> Recommender systems</span></li>
                            <li><span><i class='bx bx-check-double'></i> Demand prediction</span></li>
                            <li><span><i class='bx bx-check-double'></i> Omnichannel analytics</span></li>
                            <li><span><i class='bx bx-check-double'></i> Lead generation</span></li>
                            <li><span><i class='bx bx-check-double'></i> Sales prediction</span></li>
                            <li><span><i class='bx bx-check-double'></i> Product line optimization</span></li>
                        </ul>
                    </div>
                </div>

                <div class="overview-box">
                    <div class="content">
                        <h3>Risk Management</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <ul class="features-list">
                            <li><span><i class='bx bx-check-double'></i> Customer churn prediction</span></li>
                            <li><span><i class='bx bx-check-double'></i> Psychological scoring</span></li>
                            <li><span><i class='bx bx-check-double'></i> Fraud detection</span></li>
                            <li><span><i class='bx bx-check-double'></i> Preventive maintenance</span></li>
                            <li><span><i class='bx bx-check-double'></i> HR analytics</span></li>
                            <li><span><i class='bx bx-check-double'></i> Social media monitoring</span></li>
                        </ul>
                    </div>

                    <div class="image">
                        <img src="/img/2.png" alt="image">
                    </div>
                </div>

                <div class="overview-box">
                    <div class="image">
                        <img src="/img/3.png" alt="image">
                    </div>

                    <div class="content">
                        <h3>Operations Management</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <ul class="features-list">
                            <li><span><i class='bx bx-check-double'></i> Image recognition</span></li>
                            <li><span><i class='bx bx-check-double'></i> Warehouse optimization</span></li>
                            <li><span><i class='bx bx-check-double'></i> Logistics optimization</span></li>
                            <li><span><i class='bx bx-check-double'></i> Supply chain optimization</span></li>
                            <li><span><i class='bx bx-check-double'></i> Work shifts optimization</span></li>
                            <li><span><i class='bx bx-check-double'></i> Chat bots and call robots</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="rectangle-shape1"><img src="/img/rectangle-shape1.png" alt="image"></div>
            <div class="rectangle-shape2"><img src="/img/rectangle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="/img/shape/1.svg" alt="image"></div>
            <div class="shape2"><img src="/img/shape/1.svg" alt="image"></div>
            <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
        </section> -->
        <!-- End Features Area -->

        <!-- Start Team Area -->
        <section class="team-area ptb-110 bg-f1f3f6">
            <div class="container">
                <div class="section-title">
                    <h2>Meet Our Team</h2>
                    <p>Meet the faces behind our success - a dedicated group committed to turning dreams into reality.</p>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="/img/team/1.jpg" alt="team">

                                <div class="social">
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>

                            <div class="content">
                                <h3>CA Ashwani Mundra</h3>
                                <span>Founder Director</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="/img/team/2.jpg" alt="team">

                                <div class="social">
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>

                            <div class="content">
                                <h3>Mr. Praveen Suthar</h3>
                                <span>Technical Director</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="/img/team/3.jpg" alt="team">

                                <div class="social">
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>

                            <div class="content">
                                <h3>Mr. Nikhil Jain</h3>
                                <span>Head of Sales</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="/img/team/4.jpg" alt="team">

                                <div class="social">
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>

                            <div class="content">
                                <h3>Mr. Dharmaveer Yadav</h3>
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Features Area -->
        <section class="features-area ptb-110 bg-f1f3f6">
            <div class="container">
                <div class="section-title">
                    <h2>Why choose us?</h2>
                </div>
        
                <div class="overview-box">
                    <div class="image">
                        <img src="../img/saniiro-icon.png" alt="image">
                    </div>
        
                    <div class="content">
                        <ul class="features-list" style="display: flex !important; flex-direction: column !important;">
                            <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i>We love what we do and it shows
                                    in the solutions we productions.</span></li>
                            <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Ready to deploy, flexible and
                                    boutique style web-based business process improvement solutions to help businesses scale
                                    seamlessly.</span></li>
                            <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> A one-stop-hub for all your
                                    ERP, CRM solutions.</span></li>
                            <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Offer standard, office-based
                                    support, available 24x7; that said, we are a no-nonsense team and will always respond
                                    promptly when you need us.</span></li>
                            <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Our approach is to combine our
                                    understanding of user behavior with a commitment to meeting the business goals of our
                                    clients.</span></li>
                            <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> We care about what we
                                    do.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="rectangle-shape1"><img src="/img/rectangle-shape1.png" alt="image"></div>
            <div class="rectangle-shape2"><img src="/img/rectangle-shape2.png" alt="image"></div>
            <div class="shape1"><img src="/img/shape/1.svg" alt="image"></div>
            <div class="shape2"><img src="/img/shape/1.svg" alt="image"></div>
            <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
        </section>
        <!-- End Features Area -->

        <!-- Start Feedback Area -->
        <section class="feedback-area ptb-110">
            <div class="container">
                <div class="section-title">
                    <h2>Clients Feedback</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="feedback-slides owl-carousel owl-theme">
                <div class="single-feedback-item">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="/img/author1.jpg" alt="image">
                        <h3>Filip Luis</h3>
                        <span>Founder & CEO</span>
                    </div>
                </div>

                <div class="single-feedback-item">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="/img/author2.jpg" alt="image">
                        <h3>David Luiz</h3>
                        <span>Desginer</span>
                    </div>
                </div>

                <div class="single-feedback-item">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="/img/author3.jpg" alt="image">
                        <h3>Sarah Taylor</h3>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="single-feedback-item">
                    <div class="feedback-desc">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                    </div>

                    <div class="client-info">
                        <img src="/img/author4.jpg" alt="image">
                        <h3>James Anderson</h3>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feedback Area -->

       