<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <!-- <div class="page-title-content">
                    <h2>Contact Us</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div> -->
        <div class="container">
            <div class="d-flex flex-column">
                <h2 class="page-title-header">Get in Touch With Us Today</h2>
                <p class="page-title-para">At Saniiro, we value your feedback and inquiries. Our team is dedicated to
                    providing exceptional support and solutions. Feel free to reach out to us with any questions or
                    requirements. We're here to assist you every step of the way.</p>
            </div>
        </div>

    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->


<section class="featured-services-area ptb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-big-data"></i>
                    </div>

                    <h3><a href="#">Big Data Integration</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-cefffe">
                        <i class="flaticon-code"></i>
                    </div>

                    <h3><a href="#">Big Data Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <i class="flaticon-big-data-1"></i>
                    </div>

                    <h3><a href="#">Big Data Analytics</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-dfffd7">
                        <i class="flaticon-tick"></i>
                    </div>

                    <h3><a href="#">Content Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-cloud"></i>
                    </div>

                    <h3><a href="#">Cloud Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-cefffe">
                        <i class="flaticon-system"></i>
                    </div>

                    <h3><a href="#">Data System Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers"><i class="fas fa-angle-double-left"></i></a>
                    <a href="#" class="page-numbers">1</a>
                    <span class="page-numbers current" aria-current="page">2</span>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="next page-numbers"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape4"><img src="/img/shape/1.svg" alt="image"></div>
    <div class="shape5"><img src="/img/shape/1.svg" alt="image"></div>
</section>

<!-- Start Contact Area -->
<section class="contact-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Drop us Message for any Query</h2>
            <p>Discover How Saniiro Can Transform Your Administration.</p>
        </div>





        <div class="contact-form">
            <form id="contactForm" novalidate>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="name" id="name" class="form-control" placeholder="name" required
                                data-error="Please enter your name">
                            <label for="floatingInput">Name</label>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" name="email" id="email" class="form-control" required
                                data-error="Please enter your email" placeholder="Email">
                            <label for="floatingInput">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="phone_number" id="phone_number" required
                                data-error="Please enter your number" class="form-control" placeholder="Phone">
                            <label for="floatingInput">Phone</label>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" required
                                data-error="Please enter your subject" placeholder="Subject">
                            <label for="floatingInput">Subject</label>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-floating">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="5" required
                                data-error="Write your message" placeholder="Your Message"></textarea>
                            <label for="floatingTextarea">Your Message</label>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="btn btn-primary">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="contact-info">
            <div class="contact-info-content">
                <h3>Contact us by Phone Number or Email Address</h3>
                <h2>
                    <a href="tel:+917733065011">+91 77330 65011</a>
                    <span>OR</span>
                    <a href="mailto:info@saniiro.com">info@saniiro.com</a>
                </h2>

                <ul class="social">
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->