<%- include('../components/main-banner') %>
    <%- include('../components/section/featured-services') %>
        <%- include('../components/section/one-step-ahead') %>
            <%- include('../components/section/our-proven-track') %>
                <%- include('../components/section/why-choose-us') %>
                    <%- include('../components/section/resources') %>
                        <%- include('../components/section/partner') %>
                            <%- include('../components/section/feedback') %>
                                <%- include('../components/section/blog') %>

                               