<!DOCTYPE html>
<html lang="en">
    <head>
        <% const rootDir="../" %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> <%= title %> | Saniiro Technologies Pvt Ltd </title>
        <link rel="icon" type="image/png" href="img/favicon.png">

        <!-- Links of CSS files -->
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/bootstrap.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/all.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/boxicons.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/flaticon.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/owl.carousel.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/owl.theme.default.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/magnific-popup.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/select2.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/meanmenu.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/progresscircle.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/toastr.min.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/style.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/responsive.css" %>'>
        <link rel="stylesheet" type="text/css" href='<%= rootDir+"css/dark-style.css" %>'>
        <%- style %>

    </head>
    <body>
        <%- include('../components/toggle-switch') %>
        <%- include('../components/loading-animation') %>
        <%- include('../components/header') %>
        <%- body %>
        <%- include('../components/footer') %>
        <%- include('../components/demo-request-form') %>
        <%- include('../components/go-top') %>
        <%# include('../components/toast-container') %>
        
        <!-- Links of JS files -->
        <script type="text/javascript" src='<%= rootDir+"js/jquery.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/bootstrap.bundle.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/all.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/owl.carousel.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/parallax.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/jquery.magnific-popup.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/select2.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/jquery.meanmenu.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/progresscircle.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/wow.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/form-validator.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/contact-form-script.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/axios.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/toastr.min.js" %>'></script>
        <script type="text/javascript" src='<%= rootDir+"js/main.js" %>'></script>
        <%- script %>
        <script>
            
        </script>
    </body>
</html>