<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="d-flex flex-column">
            <h2 class="page-title-header">Business Partner Edge Program</h2>
            <p class="page-title-para">Let’s join hands - We are looking out for exciting partners from across the globe
                to help us scale newer heights. Explore our flexible partnership opportunities and get on board!</p>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- <div class="container ps-5 pe-5 text-light">
            <div class="row">
                <div class="col bg-primary p-2">
                    <h2>Low Investment Required </h2>
                    <p>Low investment is needed in becoming the part of this program, it only focuses on sale. </p>
                </div>
                <div class="col bg-success p-2">
                    <h2>No Programming Required </h2>
                    <p>Technical skills are not needed for this program, only determination and sales skills will going to increase the income. </p>
                </div>
                <div class="col bg-danger p-2">
                    <h2>No Experience Required </h2>
                    <p>For joining this program there is no need of having experience in software trade. </p>
                </div>
                <div class="col bg-warning p-2">
                    <h2>No Need to Hire Software Engineer </h2>
                    <p>Company will tackle every problem, there is no need of software enginee </p>
                </div>
              </div>
        </div> -->

<!-- Start Featured Services Area -->
<section class="featured-services-area ptb-110">
    <div class="container">
        <div class="row gap-0 ">
            <h2 class="h3 text-center">Delineation To Start Your own Software Company</h2>


            <div class="col-12 col-sm-12 col-md-6 ">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fa-coins fs-3"></i>
                    </div>
                    <h3><a href="#">Low Investment Required</a></h3>
                    <p>Minimal investment is required to join this program, with a primary focus on sales.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 ">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fas fa-code fs-3"></i>
                    </div>
                    <h3><a href="#">No Programming Required</a></h3>
                    <p>This program prioritizes determination and sales skills over technical expertise to boost income.
                    </p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fas fa-cube fs-3"></i>
                    </div>

                    <h3><a href="#">No Experience Required</a></h3>
                    <p>Experience in the software industry is not a prerequisite for enrolling in this program.</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fa-chart-line fs-3"></i>
                    </div>
                    <h3 class="h5"><a href="#">No Need to Hire Software Engineer</a></h4>
                        <p>Our company will address any challenge without relying solely on software engineers.</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="shape4"><img src="img/shape/1.svg" alt="image"></div>
    <div class="shape5"><img src="img/shape/1.svg" alt="image"></div>
</section>
<!-- End Featured Services Area -->

<!-- Start About Area -->
<section class="about-area ptb-50 ">
    <div class="container">
        <div class="row align-items-center mb-5">

            <div class="col-lg-6 col-md-12">
                <div class="about-content">

                    <h2>Assured Returns Partner Program (ARPP) Ease of selling, ease of delivery and ease of dealing
                        with Saniiro</h2>
                    <p>Being a consultative business selling, our collaborative approach varies as per the Sales and
                        Solution Partnership Engagement and your readiness levels.

                        Based on these, we work with you to help you acquire/expand the necessary skill set to spot the
                        opportunity, develop the market and Further our market share, till you experience your 'first
                        moment of proﬁt'</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="/img/about/global-management.svg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Featured Services Area -->
<section class="featured-services-area ptb-110">
    <div class="container">
        <div class="row gap-0 ">

            <div class="col-12 col-sm-12 col-md-6 ">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fa-coins fs-3"></i>
                    </div>
                    <h3><a href="#">Future Security</a></h3>
                    <p>Our product offerings work across verticals and businesses. Its life cycle is infinite as it
                        evolves continuously to suit the business needs. Your learning thus becomes an investment with
                        lifelong returns</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 ">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fas fa-code fs-3"></i>
                    </div>
                    <h3><a href="#">Zero Channel Conflict policy</a></h3>
                    <p>Our direct sales force collaborates with you to 'cIose a deal' instead of competing against you
                        for the same deal. Our CRM system restricts partner from competing with each other on price</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fas fa-cube fs-3"></i>
                    </div>

                    <h3><a href="#">Grow your network</a></h3>
                    <p>High quality solution providers who evolve with the changing market needs create their own
                        ecosystem to grow. Our Assured Returns Program is rolled out to bring such consultants together
                        to our ecosystem</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <!-- <i class="flaticon-big-data-1"></i> -->
                        <i class="fas fa-chart-line fs-3"></i>
                    </div>
                    <h3 class="h5"><a href="#">Investment Guarantee</a></h4>
                        <p>Your ex-employees will remain as your ex-employees. We neither employ nor appoint them as
                            your Channel competitor. The changing market dynamic driven by the rise of demanding
                            customer</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="shape4"><img src="img/shape/1.svg" alt="image"></div>
    <div class="shape5"><img src="img/shape/1.svg" alt="image"></div>
</section>
<!-- End Featured Services Area -->

<!-- Start Features Area -->
<section class="features-area ptb-110 bg-f1f3f6">
    <div class="container">
        <div class="section-title">
            <h2>Partner CRM will help you</h2>
            <p>Our partners will maintained and controlled the total system at backend. For this CRM every partner is
                given a partner code and password.</p>
        </div>

        <div class="overview-box">
            <div class="image">
                <img src="../img/saniiro-icon.png" alt="image">
            </div>

            <div class="content">
                <ul class="features-list" style="display: flex !important; flex-direction: column !important;">
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Do Final Verification on every
                            software license</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Maintain list of used and
                            unused licenses.</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Manage list of all
                            installations.</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> List of clients.</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> After getting License manage
                            new Installations</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Authority to extend
                            Demo</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Supremacy over Annual
                            Renewal</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> Manage software references and
                            leads given by clientele</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> List of clients need an
                            employe</span></li>
                    <li style="max-width: 100%;"><span><i class='bx bx-check-double'></i> List of software installed by
                            your reference partners</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="rectangle-shape1"><img src="/img/rectangle-shape1.png" alt="image"></div>
    <div class="rectangle-shape2"><img src="/img/rectangle-shape2.png" alt="image"></div>
    <div class="shape1"><img src="/img/shape/1.svg" alt="image"></div>
    <div class="shape2"><img src="/img/shape/1.svg" alt="image"></div>
    <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
</section>
<!-- End Features Area -->