<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Featured Services Area -->
<section class="featured-services-area ptb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-big-data"></i>
                    </div>

                    <h3><a href="#">Big Data Integration</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-cefffe">
                        <i class="flaticon-code"></i>
                    </div>

                    <h3><a href="#">Big Data Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-ffb8c8">
                        <i class="flaticon-big-data-1"></i>
                    </div>

                    <h3><a href="#">Big Data Analytics</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-dfffd7">
                        <i class="flaticon-tick"></i>
                    </div>

                    <h3><a href="#">Content Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-cloud"></i>
                    </div>

                    <h3><a href="#">Cloud Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon bg-cefffe">
                        <i class="flaticon-system"></i>
                    </div>

                    <h3><a href="#">Data System Management</a></h3>
                    <p>Excepteur sint occaecat cupidatat non mollit proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="#" class="learn-more-btn">Learn More <i class="flaticon-add-1"></i></a>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a href="#" class="prev page-numbers"><i class="fas fa-angle-double-left"></i></a>
                    <a href="#" class="page-numbers">1</a>
                    <span class="page-numbers current" aria-current="page">2</span>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="next page-numbers"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape4"><img src="/img/shape/1.svg" alt="image"></div>
    <div class="shape5"><img src="/img/shape/1.svg" alt="image"></div>
</section>
<!-- End Featured Services Area -->