<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Team</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Team</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<!-- Start Team Area -->
<section class="team-area ptb-110 bg-f1f3f6">
    <div class="container">
        <div class="section-title">
            <h2>Meet Our Team</h2>
            <p>Meet the faces behind our success - a dedicated group committed to turning dreams into reality.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../img/team/1.jpg" alt="team">

                        <div class="social">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#team1">
                                Read More
                            </button>
                        </div>
                    </div>

                    <div class="content">
                        <h3>CA Ashwani Mundra</h3>
                        <span>Founder Director</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../img/team/2.jpg" alt="team">

                        <div class="social">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#team2">
                                Read More
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Praveen Suthar</h3>
                        <span>Technical Director</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../img/team/3.jpg" alt="team">

                        <div class="social">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#team3">
                                Read More
                            </button>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Nikhil Jain</h3>
                        <span>Head of Sales</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../img/team/4.jpg" alt="team">

                        <div class="social">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#team4">
                                Read More
                            </button>
                        </div>
                    </div>

                    <div class="content">

                        <h3>Dharmaveer Yadav</h3>
                        <span>Full Stack Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../img/team/5.jpg" alt="team">

                        <div class="social">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#team5">
                                Read More
                            </button>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Manthan Jain</h3>
                        <span>Technical Support Manager</span>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="../img/team/6.jpg" alt="team">

                        <div class="social">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#team6">
                                Read More
                            </button>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Priyanshi Agarwal</h3>
                        <span>Human Resources Executive</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->


<%- include('../components/team/team1') %>
<%- include('../components/team/team2') %>
<%- include('../components/team/team3') %>
<%- include('../components/team/team4') %>