.theme-dark {
  /* Start "Data Analysis Demo CSS, "User Analysis Demo CSS & Data Science Demo CSS" */
  /* End "Data Analysis Demo CSS, "User Analysis Demo CSS & Data Science Demo CSS" */ }
  .theme-dark body {
    background-color: #000000;
    color: #ffffff; }
  .theme-dark a {
    color: #ffffff; }
    .theme-dark a:hover, .theme-dark a:focus {
      color: #074ece; }
  .theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
    color: #ffffff; }
  .theme-dark p {
    color: #e1e1e1; }
  .theme-dark .btn-primary {
    color: #ffffff; }
  .theme-dark .btn-light {
    color: #074ece; }
    .theme-dark .btn-light:hover, .theme-dark .btn-light:focus {
      color: #ffffff !important; }
  .theme-dark .bg-f1f3f6 {
    background-color: #1b1a1a; }
  .theme-dark .form-control {
    border-color: #494949;
    color: #ffffff; }
    .theme-dark .form-control::placeholder {
      color: #e1e1e1; }
    .theme-dark .form-control:focus {
      border-color: #074ece;
      background-color: #000000; }
  .theme-dark .banner-white-shape img {
    filter: brightness(50); }
  .theme-dark .single-services-box {
    background-color: #333333; }
    .theme-dark .single-services-box:hover {
      background-color: #074ece; }
  .theme-dark .overview-box .content .features-list li span {
    background-color: #333333; }
  .theme-dark .single-how-it-work-box {
    background-color: #333333; }
    .theme-dark .single-how-it-work-box .icon::before {
      background: #1b1a1a; }
    .theme-dark .single-how-it-work-box .number-text {
      color: #ffffff; }
    .theme-dark .single-how-it-work-box:hover {
      background-color: #333333; }
  .theme-dark .single-choose-us-box {
    background-color: #333333; }
  .theme-dark .single-resources-box {
    background-color: #333333; }
    .theme-dark .single-resources-box:hover {
      background-color: #333333; }
  .theme-dark .our-clients-list {
    background-color: #333333; }
    .theme-dark .our-clients-list .single-clients {
      background-color: #333333; }
      .theme-dark .our-clients-list .single-clients:nth-child(1) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:nth-child(2) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:nth-child(3) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:nth-child(4) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:nth-child(5) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:nth-child(6) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:nth-child(7) {
        border-color: #494949; }
      .theme-dark .our-clients-list .single-clients:hover {
        border-color: #333333; }
  .theme-dark .question-form form .form-control, .theme-dark .request-demo-form form .form-control {
    background-color: #333333;
    color: #ffffff; }
    .theme-dark .question-form form .form-control::placeholder, .theme-dark .request-demo-form form .form-control::placeholder {
      color: #e1e1e1; }
  .theme-dark .question-form form .form-select, .theme-dark .request-demo-form form .form-select {
    background-color: #333333;
    color: #ffffff; }
    .theme-dark .question-form form .form-select::placeholder, .theme-dark .request-demo-form form .form-select::placeholder {
      color: #e1e1e1; }
  .theme-dark .single-feedback-item {
    background-color: #333333;
    border-color: #494949; }
    .theme-dark .single-feedback-item .feedback-desc {
      border-bottom-color: #494949; }
      .theme-dark .single-feedback-item .feedback-desc p::before {
        color: #e1e1e1; }
      .theme-dark .single-feedback-item .feedback-desc p::after {
        color: #e1e1e1; }
  .theme-dark .owl-item.active.center .single-feedback-item {
    border-color: #494949; }
  .theme-dark .single-blog-post {
    background-color: #333333; }
    .theme-dark .single-blog-post .entry-post-content .entry-meta ul li {
      color: #e1e1e1; }
      .theme-dark .single-blog-post .entry-post-content .entry-meta ul li a {
        color: #e1e1e1; }
        .theme-dark .single-blog-post .entry-post-content .entry-meta ul li a:hover {
          color: #074ece; }
  .theme-dark .single-team-box {
    background-color: #333333; }
    .theme-dark .single-team-box .image .social {
      background: #333333; }
  .theme-dark .pagination-area .page-numbers {
    background-color: #333333;
    color: #ffffff;
    box-shadow: unset; }
    .theme-dark .pagination-area .page-numbers.current, .theme-dark .pagination-area .page-numbers:hover, .theme-dark .pagination-area .page-numbers:focus {
      background: #074ece; }
  .theme-dark .services-details-overview .services-details-desc .features-list li {
    color: #e1e1e1; }
  .theme-dark .services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-item {
    background: #333333; }
  .theme-dark .services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-title {
    color: #ffffff; }
    .theme-dark .services-details-overview .services-details-desc .services-details-accordion .accordion .accordion-title.active {
      border-bottom-color: #494949; }
  .theme-dark .woocommerce-topbar .woocommerce-topbar-ordering .nice-select {
    background-color: #333333;
    color: #e1e1e1; }
    .theme-dark .woocommerce-topbar .woocommerce-topbar-ordering .nice-select .list {
      background-color: #333333; }
  .theme-dark .single-product-box {
    background-color: #333333; }
    .theme-dark .single-product-box .product-content .price {
      color: #ffffff; }
  .theme-dark .product-details-desc .price {
    color: #ffffff; }
  .theme-dark .product-details-desc .product-review .rating-count {
    color: #ffffff;
    border-bottom-color: #ffffff; }
    .theme-dark .product-details-desc .product-review .rating-count:hover {
      color: #074ece;
      border-color: #074ece; }
  .theme-dark .product-details-desc .product-add-to-cart .input-counter input {
    color: #ffffff;
    background-color: #333333; }
    .theme-dark .product-details-desc .product-add-to-cart .input-counter input::placeholder {
      color: #e1e1e1; }
  .theme-dark .product-details-desc .buy-checkbox-btn .cbx span:first-child {
    border-color: #494949; }
    .theme-dark .product-details-desc .buy-checkbox-btn .cbx span:first-child svg {
      stroke: #333333; }
    .theme-dark .product-details-desc .buy-checkbox-btn .cbx span:first-child:before {
      background: #ffffff; }
  .theme-dark .product-details-desc .buy-checkbox-btn .cbx span:last-child {
    color: #e1e1e1; }
  .theme-dark .product-details-desc .buy-checkbox-btn .cbx:hover span:first-child {
    border-color: #ffffff; }
  .theme-dark .product-details-desc .buy-checkbox-btn .inp-cbx:checked + .cbx span:first-child {
    background: #ffffff;
    border-color: #ffffff; }
  .theme-dark .product-details-desc .buy-checkbox-btn .btn-light {
    background-color: #333333;
    color: #ffffff; }
  .theme-dark .product-details-desc .custom-payment-options span {
    color: #e1e1e1; }
  .theme-dark .products-details-tab .tabs li a {
    color: #ffffff;
    border-color: #494949; }
    .theme-dark .products-details-tab .tabs li a .dot {
      border-color: #ffffff; }
      .theme-dark .products-details-tab .tabs li a .dot::before {
        background: #ffffff; }
    .theme-dark .products-details-tab .tabs li a:hover, .theme-dark .products-details-tab .tabs li a:focus {
      border-color: #074ece; }
  .theme-dark .products-details-tab .tabs li.current a {
    border-color: #074ece; }
  .theme-dark .products-details-tab .tab_content {
    border-color: #494949; }
    .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li {
      border-color: #494949;
      color: #e1e1e1; }
      .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li:last-child {
        border-bottom-color: #494949; }
      .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li span {
        color: #ffffff; }
    .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
      border-top-color: #494949; }
      .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
        color: #e1e1e1; }
        .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link:hover {
          color: #074ece; }
    .theme-dark .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .form-group label {
      color: #e1e1e1; }
  .theme-dark .cart-table table thead tr th {
    color: #ffffff; }
  .theme-dark .cart-table table tbody tr td {
    color: #e1e1e1; }
    .theme-dark .cart-table table tbody tr td.product-name a {
      color: #e1e1e1; }
      .theme-dark .cart-table table tbody tr td.product-name a:hover {
        color: #4ac728; }
    .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input {
      color: #ffffff;
      background-color: #333333; }
      .theme-dark .cart-table table tbody tr td.product-quantity .input-counter input::placeholder {
        color: #ffffff; }
  .theme-dark .cart-table .table-bordered > :not(caption) > * {
    border-color: #312d2d; }
  .theme-dark .cart-totals {
    background: #333333; }
    .theme-dark .cart-totals ul li {
      border-color: #494949;
      color: #ffffff; }
      .theme-dark .cart-totals ul li span {
        color: #e1e1e1; }
  .theme-dark .user-actions {
    background: #333333; }
    .theme-dark .user-actions span {
      color: #074ece; }
      .theme-dark .user-actions span a {
        color: #ffffff; }
        .theme-dark .user-actions span a:hover, .theme-dark .user-actions span a:focus {
          color: #074ece; }
    .theme-dark .user-actions::before {
      background: #333333; }
  .theme-dark .billing-details .form-group label {
    color: #e1e1e1; }
  .theme-dark .billing-details .form-group .nice-select {
    color: #e1e1e1; }
    .theme-dark .billing-details .form-group .nice-select .list {
      background-color: #333333; }
  .theme-dark .billing-details .form-check .form-check-label {
    color: #e1e1e1; }
  .theme-dark .order-details .order-table table thead tr {
    border-color: #494949; }
    .theme-dark .order-details .order-table table thead tr th {
      color: #ffffff;
      border-color: #494949; }
  .theme-dark .order-details .order-table table tbody tr {
    border-color: #494949; }
    .theme-dark .order-details .order-table table tbody tr td {
      color: #e1e1e1;
      border-color: #494949; }
      .theme-dark .order-details .order-table table tbody tr td.product-name a {
        color: #e1e1e1; }
        .theme-dark .order-details .order-table table tbody tr td.product-name a:hover {
          color: #074ece; }
      .theme-dark .order-details .order-table table tbody tr td.order-subtotal span, .theme-dark .order-details .order-table table tbody tr td.order-shipping span, .theme-dark .order-details .order-table table tbody tr td.total-price span {
        color: #ffffff; }
  .theme-dark .order-details .payment-box {
    background-color: #333333; }
    .theme-dark .order-details .payment-box .payment-method p [type="radio"]:checked + label, .theme-dark .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label {
      color: #ffffff; }
  .theme-dark .widget-area .widget .widget-title {
    border-bottom-color: #494949; }
  .theme-dark .widget-area .widget_search {
    background-color: #333333; }
    .theme-dark .widget-area .widget_search form .search-field {
      border-color: #494949;
      color: #ffffff; }
      .theme-dark .widget-area .widget_search form .search-field::placeholder {
        color: #e1e1e1; }
      .theme-dark .widget-area .widget_search form .search-field:focus {
        border-color: #074ece; }
  .theme-dark .widget-area .widget_saniiro_posts_thumb .item .info time {
    color: #e1e1e1; }
  .theme-dark .widget-area .widget_recent_entries ul li {
    color: #e1e1e1; }
    .theme-dark .widget-area .widget_recent_entries ul li a {
      color: #e1e1e1; }
      .theme-dark .widget-area .widget_recent_entries ul li a:hover {
        color: #074ece; }
    .theme-dark .widget-area .widget_recent_entries ul li .post-date {
      color: #e1e1e1; }
  .theme-dark .widget-area .widget_recent_comments ul li {
    color: #e1e1e1; }
    .theme-dark .widget-area .widget_recent_comments ul li a {
      color: #e1e1e1; }
      .theme-dark .widget-area .widget_recent_comments ul li a:hover {
        color: #074ece; }
  .theme-dark .widget-area .widget_archive ul li {
    color: #e1e1e1; }
    .theme-dark .widget-area .widget_archive ul li a {
      color: #e1e1e1; }
      .theme-dark .widget-area .widget_archive ul li a:hover {
        color: #074ece; }
  .theme-dark .widget-area .widget_categories ul li {
    color: #e1e1e1; }
    .theme-dark .widget-area .widget_categories ul li a {
      color: #e1e1e1; }
      .theme-dark .widget-area .widget_categories ul li a:hover {
        color: #074ece; }
  .theme-dark .widget-area .widget_meta ul li {
    color: #e1e1e1; }
    .theme-dark .widget-area .widget_meta ul li a {
      color: #e1e1e1; }
      .theme-dark .widget-area .widget_meta ul li a:hover {
        color: #074ece; }
  .theme-dark .widget-area .tagcloud a {
    color: #e1e1e1;
    border-color: #494949; }
    .theme-dark .widget-area .tagcloud a:hover, .theme-dark .widget-area .tagcloud a:focus {
      color: #ffffff;
      border-color: #074ece; }
  .theme-dark .blog-details .article-content .entry-meta ul li {
    color: #ffffff; }
    .theme-dark .blog-details .article-content .entry-meta ul li a {
      color: #e1e1e1; }
      .theme-dark .blog-details .article-content .entry-meta ul li a:hover {
        color: #074ece; }
  .theme-dark .blog-details .article-content .article-features-list li {
    color: #e1e1e1; }
  .theme-dark .blog-details .article-footer {
    border-top-color: #494949;
    border-bottom-color: #494949; }
    .theme-dark .blog-details .article-footer .article-tags span {
      color: #ffffff; }
    .theme-dark .blog-details .article-footer .article-tags a {
      color: #e1e1e1; }
      .theme-dark .blog-details .article-footer .article-tags a:hover {
        color: #074ece; }
    .theme-dark .blog-details .article-footer .article-share .social li a {
      color: #ffffff;
      background-color: #333333; }
  .theme-dark blockquote, .theme-dark .blockquote {
    background-color: #333333; }
    .theme-dark blockquote p, .theme-dark .blockquote p {
      color: #ffffff; }
    .theme-dark blockquote::before, .theme-dark .blockquote::before {
      opacity: .15; }
  .theme-dark .comments-area .comment-body {
    border-bottom-color: #494949;
    color: #ffffff; }
    .theme-dark .comments-area .comment-body .reply a {
      border-color: #494949;
      color: #e1e1e1; }
      .theme-dark .comments-area .comment-body .reply a:hover {
        color: #ffffff;
        border-color: #074ece; }
  .theme-dark .comments-area .comment-metadata {
    color: #e1e1e1; }
    .theme-dark .comments-area .comment-metadata a {
      color: #e1e1e1; }
      .theme-dark .comments-area .comment-metadata a:hover {
        color: #074ece; }
  .theme-dark .comments-area .comment-respond label {
    color: #ffffff; }
  .theme-dark .comments-area .comment-respond input[type="date"], .theme-dark .comments-area .comment-respond input[type="time"], .theme-dark .comments-area .comment-respond input[type="datetime-local"], .theme-dark .comments-area .comment-respond input[type="week"], .theme-dark .comments-area .comment-respond input[type="month"], .theme-dark .comments-area .comment-respond input[type="text"], .theme-dark .comments-area .comment-respond input[type="email"], .theme-dark .comments-area .comment-respond input[type="url"], .theme-dark .comments-area .comment-respond input[type="password"], .theme-dark .comments-area .comment-respond input[type="search"], .theme-dark .comments-area .comment-respond input[type="tel"], .theme-dark .comments-area .comment-respond input[type="number"], .theme-dark .comments-area .comment-respond textarea {
    color: #ffffff;
    background-color: #2d2b2b;
    border-color: #494949; }
    .theme-dark .comments-area .comment-respond input[type="date"]::placeholder, .theme-dark .comments-area .comment-respond input[type="time"]::placeholder, .theme-dark .comments-area .comment-respond input[type="datetime-local"]::placeholder, .theme-dark .comments-area .comment-respond input[type="week"]::placeholder, .theme-dark .comments-area .comment-respond input[type="month"]::placeholder, .theme-dark .comments-area .comment-respond input[type="text"]::placeholder, .theme-dark .comments-area .comment-respond input[type="email"]::placeholder, .theme-dark .comments-area .comment-respond input[type="url"]::placeholder, .theme-dark .comments-area .comment-respond input[type="password"]::placeholder, .theme-dark .comments-area .comment-respond input[type="search"]::placeholder, .theme-dark .comments-area .comment-respond input[type="tel"]::placeholder, .theme-dark .comments-area .comment-respond input[type="number"]::placeholder, .theme-dark .comments-area .comment-respond textarea::placeholder {
      color: #e1e1e1; }
    .theme-dark .comments-area .comment-respond input[type="date"]:focus, .theme-dark .comments-area .comment-respond input[type="time"]:focus, .theme-dark .comments-area .comment-respond input[type="datetime-local"]:focus, .theme-dark .comments-area .comment-respond input[type="week"]:focus, .theme-dark .comments-area .comment-respond input[type="month"]:focus, .theme-dark .comments-area .comment-respond input[type="text"]:focus, .theme-dark .comments-area .comment-respond input[type="email"]:focus, .theme-dark .comments-area .comment-respond input[type="url"]:focus, .theme-dark .comments-area .comment-respond input[type="password"]:focus, .theme-dark .comments-area .comment-respond input[type="search"]:focus, .theme-dark .comments-area .comment-respond input[type="tel"]:focus, .theme-dark .comments-area .comment-respond input[type="number"]:focus, .theme-dark .comments-area .comment-respond textarea:focus {
      border-color: #074ece; }
  .theme-dark .comments-area .comment-respond .comment-form-cookies-consent label {
    color: #e1e1e1; }
  .theme-dark .coming-soon-area .coming-soon-content .logo.white-logo {
    display: inline-block; }
  .theme-dark .coming-soon-area .coming-soon-content .logo.black-logo {
    display: none; }
  .theme-dark .faq-accordion .accordion .accordion-item {
    background: #333333; }
  .theme-dark .faq-accordion .accordion .accordion-title {
    color: #ffffff; }
    .theme-dark .faq-accordion .accordion .accordion-title.active {
      border-bottom-color: #494949; }
  .theme-dark .faq-contact-form form .form-control {
    background-color: #333333; }
  .theme-dark .resources-details-overview .resources-details-desc .resources-details-accordion .accordion .accordion-item {
    background: #333333; }
  .theme-dark .resources-details-overview .resources-details-desc .resources-details-accordion .accordion .accordion-title {
    color: #ffffff; }
    .theme-dark .resources-details-overview .resources-details-desc .resources-details-accordion .accordion .accordion-title.active {
      border-bottom-color: #494949; }
  .theme-dark .contact-form form .form-control {
    background-color: #333333; }
  .theme-dark .contact-info .contact-info-content h2 span {
    color: #e1e1e1; }
  .theme-dark .contact-info .contact-info-content .social li a {
    border-color: #494949;
    color: #ffffff; }
    .theme-dark .contact-info .contact-info-content .social li a:hover {
      border-color: #074ece;
      background-color: #074ece; }
  .theme-dark .data-analysis-white-shape img {
    filter: brightness(0); }
  .theme-dark .solutions-wrap-card {
    background: #0e0e0e; }
    .theme-dark .solutions-wrap-card h3 a {
      color: #ffffff; }
  .theme-dark .about-wrap-content .wrap-list li {
    background-color: #0e0e0e;
    color: #ffffff; }
    .theme-dark .about-wrap-content .wrap-list li:hover {
      background-color: #074ece; }
  .theme-dark .services-wrap-area {
    background-color: #0e0e0e; }
  .theme-dark .services-wrap-card {
    background-color: #333333; }
    .theme-dark .services-wrap-card .content h3 a {
      color: #ffffff; }
  .theme-dark .value-benefits-list-tabs .nav {
    background-color: #0e0e0e; }
    .theme-dark .value-benefits-list-tabs .nav .nav-item .nav-link {
      color: #ffffff; }
  .theme-dark .value-benefits-content .list li {
    background-color: #0e0e0e;
    color: #ffffff; }
    .theme-dark .value-benefits-content .list li:hover {
      background-color: #074ece; }
  .theme-dark .overview-wrap-content p {
    color: #ffffff !important; }
  .theme-dark .awesome-solutions-bg-shape img {
    filter: brightness(0); }
  .theme-dark .clients-review-area {
    background: #0e0e0e; }
  .theme-dark .clients-review-item {
    background-color: #333333; }
    .theme-dark .clients-review-item .client-info h3 {
      color: #ffffff; }
  .theme-dark .blog-wrap-card .blog-content .entry-meta li {
    color: #ffffff; }
    .theme-dark .blog-wrap-card .blog-content .entry-meta li::before {
      background: #ffffff; }
    .theme-dark .blog-wrap-card .blog-content .entry-meta li a {
      color: #ffffff; }
      .theme-dark .blog-wrap-card .blog-content .entry-meta li a:hover {
        color: #074ece; }
  .theme-dark .blog-wrap-card .blog-content h3 a {
    color: #ffffff; }
    .theme-dark .blog-wrap-card .blog-content h3 a:hover {
      color: #074ece; }
  .theme-dark .blog-wrap-card .blog-content .blog-btn {
    color: #ffffff; }
  .theme-dark .partner-wrap-area {
    background-color: #0e0e0e; }
  .theme-dark .overview-wrap-btn .btn-primary {
    color: #4ac728 !important; }
  .theme-dark .user-analysis-banner {
    position: relative;
    z-index: 1; }
    .theme-dark .user-analysis-banner::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: #000000;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      opacity: .95; }
  .theme-dark .features-wrap-card {
    background-color: #333333; }
  .theme-dark .services-wrap-box {
    background-color: #0e0e0e; }
    .theme-dark .services-wrap-box .content h3 a {
      color: #ffffff; }
  .theme-dark .value-benefits-wrap-content .list li {
    background-color: #0e0e0e;
    color: #ffffff; }
    .theme-dark .value-benefits-wrap-content .list li:hover {
      background-color: #074ece; }
  .theme-dark .awesome-solutions-area.with-main-color .awesome-solutions-card {
    background: #0e0e0e; }
    .theme-dark .awesome-solutions-area.with-main-color .awesome-solutions-card .icon {
      color: #ffffff; }
    .theme-dark .awesome-solutions-area.with-main-color .awesome-solutions-card h3 {
      color: #ffffff; }
  .theme-dark .data-science-banner {
    position: relative;
    z-index: 1; }
    .theme-dark .data-science-banner::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-color: #000000;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      opacity: .95; }
  .theme-dark .data-science-banner-content .banner-form .input-newsletter {
    background-color: #333333;
    border: 1px solid #333333;
    color: #ffffff; }
    .theme-dark .data-science-banner-content .banner-form .input-newsletter::placeholder {
      color: #ffffff; }
    .theme-dark .data-science-banner-content .banner-form .input-newsletter:focus::placeholder {
      color: transparent; }
  .theme-dark .our-awards-card {
    background-color: #0e0e0e; }
    .theme-dark .our-awards-card:hover {
      background-color: #4ac728; }
  .theme-dark .case-study-wrap-card {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e; }
    .theme-dark .case-study-wrap-card .case-study-content h3 a {
      color: #ffffff; }
  .theme-dark .team-wrap-shape img {
    filter: brightness(0.1); }

.theme-light .coming-soon-area .coming-soon-content .logo.white-logo {
  display: none; }
