$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;
$value_seven: 1365px;
$value_eight: 1550px;

// New Add
$value_nine: 1200px;
$value_ten: 1399px;

@media only #{$media} and ($feature_max : $value_two) {
    body {
        font-size: 13px;
    }
    p {
        font-size: 13px;
    }
    .ptb-110 {
        padding: {
            top: 60px;
            bottom: 60px;
        }
    }
    .section-title {
        text-align: center;
        margin-bottom: 40px;

        span {
            font-size: 12.5px;
        }
        h2 {
            font-size: 28px;
        }
        p {
            max-width: 100%;
            margin: {
                left: 0;
                right: 0;
            }
        }
    }
    .btn {
        padding: 10px 30px 12px;
        font-size: 14px;
    }

    .top-header {
        display: none;
    }

    .main-banner {
        padding: {
            left: 0;
            right: 0;
            bottom: 100px;
            top: 170px;
        }
    }
    .main-banner-content {
        top: 0;
        text-align: center;

        h1 {
            font-size: 40px;
        }
        p {
            font-size: 14px;
            max-width: 100%;
            margin-top: 20px;
        }
        .btn-box {
            .btn {
                padding: 10px 30px 12px;
            }
            .btn-light {
                margin-left: 10px;
            }
        }
    }
    .main-banner-image {
        text-align: center;
        top: 0;
        margin-top: 50px;
    }
    .shape1, .shape3, .shape4 {
        display: none;
    }

    .about-content {
        margin-top: 35px;
        text-align: center;
        padding: {
            left: 0;
        }
        span {
            font-size: 12.5px;
            margin-bottom: 3px;
        }
        h2 {
            font-size: 28px;
        }
        p {
            margin-top: 10px;
        }
    }
    .about-inner-area {
        margin-top: 0;
    }
    .about-text {
        text-align: center;
        margin-top: 30px;

        h3 {
            font-size: 19px;
        }
        p {
            margin-top: 10px;
        }
    }

    .featured-services-area {
        padding-bottom: 30px;
    }
    .single-services-box {
        padding: 20px;

        .icon {
            width: 70px;
            height: 70px;
            line-height: 70px;

            i {
                &::before {
                    font-size: 35px;
                }
            }
        }
        h3 {
            font-size: 19px;
        }
    }

    .services-details-overview {
        margin-top: 30px;

        &:first-child {
            margin-top: 30px;
        }
        .services-details-desc {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;

            h3 {
                margin-bottom: 12px;
                font-size: 19px;
            }
        }
        .services-details-image {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
            margin-top: 30px;
        }
    }

    .overview-box {
        margin-bottom: 40px;

        .image {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
            margin-top: 40px;
        }
        .content {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;

            h3 {
                font-size: 21px;
            }
            .features-list {
                li {
                    -ms-flex: 0 0 100%;
                    -webkit-box-flex: 0;
                    flex: 0 0 100%;
                    max-width: 100%;

                    span {
                        padding: 8px 12px 8px 37px;
                        font-size: 14px;

                        i {
                            font-size: 14px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .rectangle-shape1, .rectangle-shape2 {
        display: none;
    }

    .how-it-works-area {
        padding-bottom: 30px;
    }
    .single-how-it-work-box {
        padding: 20px;

        .icon {
            i {
                &::before {
                    font-size: 35px;
                }
            }
            &::before {
                width: 30px;
                height: 30px;
            }
        }
        h3 {
            font-size: 19px;
        }
    }

    .why-choose-us-area {
        padding-bottom: 30px;

        .section-title {
            margin-bottom: 40px;
            text-align: center;
        }
    }
    .single-choose-us-box {
        .title {
            .icon {
                width: 70px;
                height: 70px;
                font-size: 35px;
                line-height: 70px;
            }
            h3 {
                font-size: 19px;
            }
        }
        .content {
            h3 {
                font-size: 19px;
            }
        }
    }

    .resources-area {
        padding-bottom: 30px;
    }
    .resources-slides {
        padding: {
            left: 15px;
            right: 15px;
        }
    }
    .single-resources-box {
        .resources-content {
            padding: 20px;

            h3 {
                font-size: 19px;
            }
        }
    }

    .resources-details-overview {
        margin-top: 30px;

        &:first-child {
            margin-top: 30px;
        }
        .resources-details-desc {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;

            h3 {
                margin-bottom: 12px;
                font-size: 19px;
            }
        }
        .resources-details-image {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
            margin-top: 30px;
        }
    }

    .question-form {
        text-align: center;
    }
    .partner-inner-content {
        margin-top: 30px;

        h2 {
            font-size: 28px;
        }
        .single-clients {
            padding: 10px;
        }
    }

    .team-area {
        padding-bottom: 30px;
    }
    .single-team-box {
        .content {
            padding: 20px;

            h3 {
                font-size: 19px;
            }
        }
    }

    .feedback-area {
        padding: {
            left: 0;
            right: 0;
            bottom: 30px;
        }
    }
    .feedback-slides {
        .owl-stage-outer {
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }

    .single-feedback-item {
        margin-top: 29px;

        .feedback-desc {
            padding: {
                left: 20px;
                bottom: 20px;
                right: 20px;
                top: 55px;
            }
            p {
                font-size: 15px;
            }
        }
        .client-info {
            h3 {
                font-size: 17px;
            }
        }
        &::before {
            top: -29px;
            width: 58px;
            height: 58px;
            line-height: 59px;
            font-size: 28px;
        }
    }

    .blog-area {
        padding-bottom: 30px;

        .widget-area {
            margin: {
                top: 10px;
                bottom: 30px;
            }
        }
    }
    .single-blog-post {
        .entry-post-content {
            .entry-meta {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
            h3 {
                font-size: 19px;
            }
        }
    }

    .blog-details-area {
        .row {
            margin: {
                left: -15px;
                right: -15px;
            }
            .col-lg-8, .col-lg-4 {
                padding: {
                    left: 15px;
                    right: 15px;
                }
            }
        }
    }
    .blog-details {
        .article-content {
            .entry-meta {
                margin-bottom: 5px;

                ul {
                    li {
                        margin-bottom: 5px;
                        font-size: 14px;
                    }
                }
            }
            h3 {
                font-size: 20px;
            }
            .wp-block-gallery.columns-3 {
                margin: {
                    right: -3px;
                    left: -3px;
                    bottom: 20px;
                    top: 20px;
                }
                li {
                    padding: {
                        right: 3px;
                        left: 3px;
                    }
                }
            }
        }
        .article-footer {
            text-align: center;

            .article-tags {
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .article-share {
                margin-top: 10px;
                -ms-flex: 0 0 100%;
                -webkit-box-flex: 0;
                flex: 0 0 100%;
                max-width: 100%;

                .social { 
                    text-align: center;
                }
            }
        }
    }
    blockquote, .blockquote {
        padding: 20px !important;

        p {
            font-size: 18px;
        }
    }
    .comments-area {
        .comments-title {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .comment-author {
            .avatar {
                height: 50px;
                left: 0;
                position: relative;
                width: 50px;
                display: block;
                margin-bottom: 15px;
            }
        }
        .comment-body {
            padding-left: 0;
        }
        .comment-respond {
            .comment-reply-title {
                font-size: 20px;
            }
            .comment-form-author {
                width: 100%;
                padding-right: 0;
            }
            .comment-form-email {
                width: 100%;
                padding-left: 0;
            }
        }
        .children {
            margin-left: 0;
        }
    }

    .page-title-area {
        padding: {
            top: 178px;
            bottom: 110px;
        }
    }
    .page-title-content {
        h2 {
            font-size: 28px;
            line-height: 1.4;
        }
        ul {
            margin-top: 10px;

            li {
                font-size: 14px;
            }
        }
    }

    .faq-content {
        display: none;
    }
    .faq-contact {
        margin-top: 60px;
    }

    .woocommerce-topbar {
        text-align: center;

        .woocommerce-result-count {
            margin-bottom: 15px;
        }
    }
    .single-product-box {
        .product-content {
            h3 {
                margin-bottom: 10px;
                font-size: 19px;
            }
        }
    }

    .product-details-desc {
        margin-top: 30px;

        h3 {
            font-size: 20px;
        }
    }
    .products-details-tab {
        .tab_content {
            padding: 20px;

            .tabs_item {
                .products-details-tab-content {
                    h3 {
                        margin-bottom: 12px;
                        font-size: 19px;
                    }
                    .additional-information {
                        li span {
                            display: block;
                            width: 100%;
                            margin-bottom: 2px;
                        }
                    }
                    .product-review-form {
                        .review-title {
                            .btn {
                                position: relative;
                                right: 0;
                                bottom: 0;
                                margin-top: 12px;
                            }
                        }
                        .review-comments {
                            margin-top: 25px;

                            .review-item {
                                margin-top: 25px;
                                padding: {
                                    right: 0;
                                    top: 25px;
                                }
                                .review-report-link {
                                    position: relative;
                                    top: 0;
                                    margin-top: 14px;
                                }
                            }
                        }
                        .review-form {
                            form {
                                margin-top: 17px;

                                .form-group {
                                    label {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-table {
        text-align: center;

        table {
            thead {
                tr {
                    th {
                        padding: 0 40px 10px;
                        white-space: nowrap;

                        &:first-child {
                            text-align: left;
                            padding-left: 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        white-space: nowrap;

                        &:first-child {
                            text-align: left;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    .cart-buttons {
        text-align: center;

        .shopping-coupon-code {
            max-width: 100%;

            button {
                padding: 0 18px;
            }
        }
        .text-end {
            text-align: center !important;
            margin-top: 20px;
        }
    }
    .cart-totals {
        padding: 25px;
        margin-top: 40px;

        h3 {
            margin-bottom: 20px;
            font-size: 19px;
        }
    }

    .checkout-area {
        .title {
            margin-bottom: 20px;
            font-size: 19px;
        }
    }
    .billing-details {
        .form-group {
            label {
                margin-bottom: 7px;
                font-size: 13px;
            }
        }
        .form-check {
            label {
                top: 2px;
                font-size: 13px;
            }
        }
    }
    .order-details {
        margin-top: 30px;

        .order-table {
            table {
                thead {
                    tr {
                        th {
                            white-space: nowrap;
                            padding: {
                                left: 15px;
                                top: 10px;
                                right: 15px;
                                bottom: 10px;
                            }
                            font-size: 13px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            white-space: nowrap;
                            font-size: 13px;
                            padding: {
                                left: 15px;
                                right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .order-details .payment-box {
        padding: 20px;
    }

    .pagination-area {
        margin-top: 20px;

        .page-numbers {
            width: 35px;
            height: 35px;
            margin: 0 2px;
            line-height: 35px;
            font-size: 15px;
        }
    }

    .error-area {
        height: 100%;
        padding: {
            top: 200px;
            bottom: 200px;
        }
    }
    .error-content {
        h3 {
            font-size: 30px;
            margin-top: 25px;
            margin-bottom: 12px;
        }
    }

    .coming-soon-area {
        .coming-soon-content {
            text-align: center;
            height: 100%;
            padding: {
                left: 15px;
                right: 15px;
                top: 60px;
                bottom: 60px;
            }
            .logo {
                position: relative;
                left: 0;
                top: 0;
                margin-bottom: 20px;
            }
            h3 {
                margin-bottom: 20px;
                font-size: 25px;
            }
            form {
                max-width: 100%;

                .form-control {
                    height: 45px;
                    padding-left: 10px;
                }
                .btn {
                    padding: 13px 24px;
                }
            }
            .social {
                margin-top: 15px;
                left: 0;
                right: 0;
                bottom: 0;
                position: relative;

                ul {
                    li {
                        margin: 0;

                        a {
                            width: 33px;
                            height: 33px;
                            line-height: 34px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .coming-soon-time {
            background-image: unset;

            img {
                display: block;
            }
            #timer {
                max-width: 100%;

                div {
                    width: 90px;
                    height: 90px;
                    padding-top: 19px;
                    font: {
                        size: 28px;
                        weight: 900;
                    }
                    margin: {
                        right: 5px;
                        left: 5px;
                        bottom: 5px;
                        top: 5px;
                    }
                    span {
                        font-size: 10px;
                        margin-top: 3px;
                    }
                }
            }
        }
        .col-lg-6 {
            &:first-child {
                order: 2;
            }
            &:last-child {
                order: 1;
            }
        }
    }

    .widget-area {
        margin-top: 40px;

        .widget {
            .widget-title {
                font-size: 19px;
            }
        }
        .widget_saniiro_posts_thumb {
            .item {
                .info {
                    .title {
                        font-size: 15px;
                    }
                }
            }
        }
        .widget_recent_comments {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        .widget_recent_entries {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        .widget_archive {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        .widget_categories {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        .widget_meta {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        .tagcloud {
            a {
                font-size: 12px !important;
            }
        }
    }

    .contact-info {
        margin-top: 50px;

        .contact-info-content {
            h3 {
                font-size: 19px;
            }
            h2 {
                font-size: 28px;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    .footer-area {
        padding-top: 60px;
    }
    .single-footer-widget {
        .logo {
            margin-bottom: 15px;
        }
        p {
            font-size: 13px;
        }
        h3 {
            margin-bottom: 20px;
            padding-bottom: 8px;
            font-size: 20px;
        }
        .footer-services-list {
            li {
                font-size: 13px;
            }
        }
        .quick-links-list {
            li {
                font-size: 13px;
            }
        }
        .footer-contact-list {
            li {
                font-size: 13px;
            }
        }
    }
    .copyright-area {
        margin-top: 30px;
        text-align: center;

        ul {
            text-align: center;
            margin-top: 10px;

            li {
                font-size: 13px;
            }
        }
    }

    .go-top {
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 32px;
    }

    .product-details-desc {
        .custom-payment-options {
            .payment-methods {
                a {
                    img {
                        width: 35px;
                    }
                }
            }
        }
    }

    // Dark/Light Toggle CSS
    .dark-version {
        right: 0;
    }

    // Buy Now
    .buy-now-btn {
        width: 50px;
        right: 15px;
        height: 50px;
        bottom: 80px;
    }

    /* Start "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */

    .ptb-100 {
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pt-70 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }

    .data-analysis-banner {
        padding: {
            top: 130px;
            bottom: 50px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .data-analysis-banner-content {
        top: 0;

        h1 {
            font-size: 40px;
            margin-bottom: 15px;
        }
        .banner-btn {
            margin-top: 25px;

            li {
                .video-btn {
                    font-size: 14.5px;
                }
            }
        }
    }
    .data-analysis-banner-image {
        text-align: center;
        margin-top: 35px;
    }

    .solutions-wrap-card {
        h3 {
            font-size: 19.2px;
        }
    }

    .about-wrap-image {
        text-align: center;
        margin-bottom: 35px;
    }
    .about-wrap-content {
        padding-left: 0;

        span {
            font-size: 14px;
        }
        h3 {
            font-size: 28px;
        }
        .wrap-list {
            li {
                font-size: 15px;
            }
        }
    }

    .services-wrap-card {
        padding: 20px;

        .d-flex {
            display: block !important;
        }
        .image-icon {
            width: 145px;
            margin-bottom: 25px;
        }
        .content {
            margin-left: 0;

            h3 {
                font-size: 19.5px;
            }
        }
    }

    .value-benefits-list-tabs {
        .nav {
            margin-bottom: 35px;
            .nav-item {
                width: 100%;
                .nav-link {
                    padding: 45px 25px 45px 105px;
                    font-size: 16.5px;
                    .icon {
                        left: 25px;
                    }
                }
            }
        }
    }
    .value-benefits-content {
        h3 {
            font-size: 25px;
        }
        .list {
            li {
                font-size: 15px;
            }
        }
    }
    .value-benefits-image {
        padding-left: 0;
        margin-top: 35px;
    }

    .overview-wrap-inner-box {
        padding: {
            top: 50px;
            bottom: 50px;
            left: 30px;
            right: 30px;
        };
    }
    .overview-wrap-content {
        h3 {
            font-size: 28px;
        }
    }
    .overview-wrap-btn {
        text-align: start;
        margin-top: 25px;
    }

    .awesome-solutions-card {
        padding: 20px;

        h3 {
            font-size: 19.2px;
        }
    }

    .work-process-with-border {
        &::before {
            display: none;
        }
    }
    .work-process-card {
        .content {
            h3 {
                font-size: 19.2px;
            }
        }
    }

    .clients-review-item {
        padding: 20px;

        &::before {
            right: 20px;
            bottom: 20px;
        }
    }

    .blog-wrap-card {
        .blog-content {
            h3 {
                font-size: 20.2px;
            }
            h3 {
                font-size: 20.2px;
                line-height: 1.4;
            }
        }
    }

    .single-footer-widget {
        &.ps-5 {
            padding-left: 0 !important;
        }
        h3 {
            font-size: 19.2px;
        }
    }

    .navbar-area-with-main-color {
        background-color: #074ece;

        .saniiro-nav {
            background-color: #074ece;
        }
    }

    .user-analysis-banner {
        padding: {
            top: 65px;
            bottom: 135px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .user-analysis-banner-content {
        .sub-title {
            font-size: 14px;
        }
        h1 {
            font-size: 35px;
        }
    }
    .user-analysis-banner-image {
        margin-top: 35px;
    }

    .features-wrap-card {
        padding: 20px;

        .content {
            padding-left: 55px;

            img {
                max-width: 35px;
            }
            h3 {
                font-size: 18.2px;
            }
        }
    }

    .services-wrap-box {
        padding: 20px;

        .content {
            h3 {
                font-size: 19.2px;
            }
        }
    }

    .value-benefits-wrap-content {
        h3 {
            font-size: 28px;
        }
        .list {
            li {
                font-size: 15px;
            }
        }
    }
    .value-benefits-wrap-image {
        padding-left: 0;
        margin-top: 30px;
        text-align: center;
    }

    .data-science-banner {
        padding: {
            top: 65px;
            bottom: 135px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }

    .data-science-banner-content {
        .sub-title {
            font-size: 14px;
        }
        h1 {
            font-size: 35px;
        }
        .banner-form {
            button {
                padding: 0 20px;
                font-size: 14px;
            }
        }
    }
    .data-science-banner-image {
        margin-top: 35px;
        text-align: center;
    }

    .our-awards-with-border {
        .our-awards-card {
            &::before {
                display: none;
            }
        }
    }
    .our-awards-card {
        h3 {
            font-size: 19.2px;
        }
    }

    .case-study-wrap-card {
        .case-study-content {
            h3 {
                font-size: 19.2px;
                padding-right: 0;

                .case-study-btn {
                    font-size: 15px;
                    padding: 1.5px 0 1.5px 42px;
                    position: relative;
                    right: 0;
                    top: unset;
                    transform: unset;
                    margin-top: 20px;
                }
            }
        }
    }

    .team-wrap-content {
        margin-bottom: 35px;

        h3 {
            font-size: 28px;
        }
    }
    .team-wrap-box {
        .content {
            h3 {
                font-size: 20.2px;
            }
            span {
                font-size: 14.5px;
            }
        }
    }

    /* End "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {
    .overview-box {
        .content {
            .features-list {
                li {
                    -ms-flex: 0 0 50%;
                    -webkit-box-flex: 0;
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
    .saniiro-nav {
        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .woocommerce-topbar {
        text-align: left;

        .woocommerce-result-count {
            margin-bottom: 0;
        }
    }

    .coming-soon-area {
        .coming-soon-content {
            padding: {
                left: 40px;
                right: 40px;
            }
        }
    }

    .feedback-slides {
        .owl-stage-outer {
            padding: {
                left: 0;
                right: 0;
            }
        }
    }

    .copyright-area {
        text-align: left;

        ul {
            text-align: right;
            margin-top: 0;
        }
    }

    /* Start "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */

    .services-wrap-card {
        .d-flex {
            display: flex !important;
        }
        .image-icon {
            width: 200px;
            margin-bottom: 0;
        }
        .content {
            margin-left: 25px;
        }
    }

    /* End "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {
    .ptb-110 {
        padding: {
            top: 90px;
            bottom: 90px;
        }
    }
    .section-title {
        h2 {
            font-size: 35px;
        }
        span {
            font-size: 14px;
        }
    }
    .saniiro-nav {
        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .top-header {
        display: none;
    }

    .main-banner {
        padding: {
            top: 218px;
            bottom: 150px;
            left: 0;
            right: 0;
        }
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px !important;
                right: 15px !important;
            }
        }
    }
    .main-banner-content {
        top: 0;

        h1 {
            margin-top: 0;
            font-size: 50px;
        }
        p {
            font-size: 14px;
            margin-top: 15px;
        }
        .btn-box {
            margin-top: 25px;

            .btn-light {
                margin-left: 10px;
            }
        }
    }
    .main-banner-image {
        top: 0;
        margin-top: 40px;
    }
    .shape4 {
        display: none;
    }

    .featured-services-area {
        padding-bottom: 60px;
    }
    .single-services-box {
        h3 {
            font-size: 21px;
        }
    }

    .services-details-overview {
        .services-details-desc {
            h3 {
                font-size: 21px;
            }
        }
    }

    .about-content {
        padding-left: 0;
        margin-top: 35px;

        h2 {
            font-size: 35px;
        }
        span {
            font-size: 14px;
        }
    }
    .about-inner-area {
        margin-top: 10px;
    }
    .about-text {
        margin-top: 30px;

        h3 {
            font-size: 21px;
        }
    }

    .overview-box {
        margin-bottom: 40px;

        .image {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
            margin-top: 40px;
            text-align: left;
        }
        .content {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;

            h3 {
                font-size: 25px;
            }
        }
    }
    .rectangle-shape1 {
        img {
            max-width: 50%;
        }
    }
    .rectangle-shape2 {
        display: none;
    }

    .how-it-works-area {
        padding-bottom: 60px;
    }
    .single-how-it-work-box {
        h3 {
            font-size: 21px;
        }
    }

    .why-choose-us-area {
        padding-bottom: 60px;

        .section-title {
            text-align: center;
            max-width: 670px;
            margin: {
                left: auto;
                right: auto;
                bottom: 60px;
            }
            p {
                max-width: 520px;
                margin: {
                    left: auto;
                    right: auto;
                }
            }
        }
    }
    .single-choose-us-box {
        padding: 15px;

        .title {
            .icon {
                width: 75px;
                height: 75px;
                line-height: 75px;
                font-size: 35px;
            }
            h3 {
                font-size: 21px;
            }
        }
        .content {
            h3 {
                font-size: 21px;
            }
            p {
                font-size: 13px;
            }
        }
    }

    .resources-area {
        padding-bottom: 60px;
    }
    .single-resources-box {
        .resources-content {
            h3 {
                font-size: 21px;
            }
        }
    }

    .resources-details-overview {
        .resources-details-desc {
            h3 {
                font-size: 21px;
            }
        }
    }

    .question-form {
        text-align: center;
        padding: 45px;
    }
    .partner-inner-content {
        margin-top: 35px;

        h2 {
            font-size: 35px;
        }
    }

    .feedback-area {
        padding: {
            left: 15px;
            right: 15px;
            bottom: 60px;
        }
    }

    .single-team-box {
        .content {
            h3 {
                font-size: 21px;
            }
        }
    }

    .blog-area {
        padding-bottom: 60px;
        
        .widget-area {
            margin: {
                top: 10px;
                bottom: 30px;
            }
        }
    }
    .single-blog-post {
        .entry-post-content {
            h3 {
                font-size: 21px;
            }
        }
    }

    .blog-details {
        .article-content {
            h3 {
                font-size: 21px;
            }
            .entry-meta {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .comments-area {
        .comments-title {
            font-size: 21px;
        }
        .comment-respond {
            .comment-reply-title {
                font-size: 21px;
            }
        }
    }

    .page-title-area {
        padding: {
            top: 188px;
            bottom: 120px;
        }
    }
    .page-title-content {
        h2 {
            font-size: 35px;
        }
        ul {
            margin-top: 10px;
        }
    }

    .coming-soon-area {
        .coming-soon-content {
            height: 100%;
            padding: {
                top: 200px;
                bottom: 200px;
            }
            h3 {
                font-size: 35px;
            }
        }
        .coming-soon-time {
            background-image: unset;

            img {
                display: block;
            }
            #timer {
                max-width: 100%;
            }
            &::before {
                z-index: 1;
            }
        }
        .col-lg-6 {
            &:first-child {
                order: 2;
            }
            &:last-child {
                order: 1;
            }
        }
    }

    .error-area {
        height: 100%;
        padding: {
            top: 200px;
            bottom: 200px;
        }
    }
    .error-content {
        h3 {
            font-size: 35px;
            margin-top: 25px;
            margin-bottom: 12px;
        }
    }

    .single-product-box {
        .product-content {
            h3 {
                font-size: 21px;
            }
        }
    }

    .product-details-desc {
        margin-top: 25px;

        h3 {
            font-size: 21px;
        }
    }
    .products-details-tab {
        .tab_content {
            .tabs_item {
                .products-details-tab-content {
                    h3 {
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .checkout-area {
        .title {
            font-size: 21px;
        }
    }
    .order-details {
        margin-top: 30px;
    }

    .widget-area {
        margin-top: 40px;

        .widget {
            .widget-title {
                font-size: 19px;
            }
        }
    }

    .faq-content {
        display: none;
    }
    .faq-contact {
        margin-top: 75px;
    }

    .contact-info {
        .contact-info-content {
            h3 {
                font-size: 21px;
            }
            h2 {
                font-size: 35px;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .footer-area {
        padding-top: 80px;
    }
    .single-footer-widget {
        h3 {
            padding-bottom: 8px;
            font-size: 22px;
        }
    }
    .copyright-area {
        margin-top: 50px;
    }

    /* Start "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */

    .ptb-100 {
        padding: {
            top: 90px;
            bottom: 90px;
        }
    }
    .pt-100 {
        padding-top: 90px;
    }
    .pb-100 {
        padding-bottom: 90px;
    }
    .pt-70 {
        padding-top: 90px;
    }
    .pb-70 {
        padding-bottom: 60px;
    }

    .data-analysis-banner {
        padding: {
            top: 150px;
            bottom: 55px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .data-analysis-banner-content {
        top: 0;

        h1 {
            font-size: 55px;
        }
    }
    .data-analysis-banner-image {
        text-align: center;
        margin-top: 35px;
    }

    .solutions-wrap-card {
        h3 {
            font-size: 21.2px;
        }
    }

    .about-wrap-image {
        text-align: center;
        margin-bottom: 35px;
    }
    .about-wrap-content {
        padding-left: 0;

        h3 {
            font-size: 30px;
        }
    }

    .services-wrap-card {
        .d-flex {
            display: block !important;
        }
        .image-icon {
            width: 145px;
            margin-bottom: 25px;
        }
        .content {
            margin-left: 0;

            h3 {
                font-size: 21.5px;
            }
        }
    }

    .value-benefits-image {
        text-align: center;
        margin-top: 35px;
    }

    .overview-wrap-inner-box {
        padding: {
            left: 50px;
            right: 50px;
        };
    }
    .overview-wrap-btn {
        text-align: start;
        margin-top: 25px;
    }

    .awesome-solutions-card {
        padding: 25px;

        h3 {
            font-size: 21.2px;
        }
    }

    .work-process-with-border {
        &::before {
            display: none;
        }
    }
    .work-process-card {
        .content {
            h3 {
                font-size: 21.2px;
            }
        }
    }

    .blog-wrap-card {
        .blog-content {
            h3 {
                font-size: 22.2px;
            }
        }
    }

    .single-footer-widget {
        &.ps-5 {
            padding-left: 0 !important;
        }
    }

    .navbar-area-with-main-color {
        background-color: #074ece;

        .saniiro-nav {
            background-color: #074ece;
        }
    }

    .user-analysis-banner {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }

    .user-analysis-banner-content {
        h1 {
            font-size: 55px;
        }
    }
    .user-analysis-banner-image {
        text-align: center;
        margin-top: 35px;
    }

    .features-wrap-card {
        padding: 20px;

        .content {
            padding-left: 55px;

            img {
                max-width: 35px;
            }
            h3 {
                font-size: 22.2px;
            }
        }
    }

    .services-wrap-box {
        padding: 25px;
    }

    .value-benefits-wrap-content {
        h3 {
            font-size: 30px;
        }
    }
    .value-benefits-wrap-image {
        padding-left: 0;
        margin-top: 35px;
    }

    .data-science-banner {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .data-science-banner-content {
        h1 {
            font-size: 60px;
        }
    }
    .data-science-banner-image {
        text-align: center;
        margin-top: 35px;
    }

    .our-awards-card {
        h3 {
            font-size: 20.2px;
        }
    }
    .our-awards-with-border {
        .our-awards-card {
            &::before {
                display: none;
            }
        }
    }

    .team-wrap-content {
        margin-bottom: 35px;

        h3 {
            font-size: 30px;
        }
    }
    .team-wrap-shape {
        display: none;
    }

    /* End "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {
    .top-header {
        padding: {
            left: 0;
            right: 0;
        }
        ul {
            li {
                margin: {
                    top: 5px;
                    left: 15px;
                }
                &::before {
                    display: none;
                }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .saniiro-nav {
        padding: {
            left: 0;
            right: 0;
        }
        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .main-banner {
        padding: {
            bottom: 370px;
            left: 40px;
            right: 40px;
        }
    }
    .main-banner-content {
        h1 {
            font-size: 71px;
        }
    }
    .main-banner-image {
        top: 220px;

        img {
            max-width: 110%;
        }
    }

    .rectangle-shape2 {
        display: none;
    }

    .single-choose-us-box {
        padding: 14px;
    }

    .feedback-area {
        padding: {
            left: 0;
            right: 0;
        }
    }

    .page-title-area {
        padding-bottom: 100px;
    }

    .coming-soon-area {
        .coming-soon-content {
            padding: {
                left: 30px;
                right: 30px;
            }
            .logo {
                left: 30px;
            }
            .social {
                left: 30px;
            }
        }
    }

    /* Start "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */

    .data-analysis-banner {
        padding-top: 255px;
    }
    .data-analysis-banner-content {
        h1 {
            font-size: 65px;
            margin-bottom: 20px;
        }
    }

    .about-wrap-content {
        padding-left: 0;

        .wrap-list {
            li {
                font-size: 14px;
                padding: 10px 10px 10px 32px;

                i {
                    left: 10.5px;
                    top: 12.5px;
                    font-size: 15.5px;
                }
            }
        }
    }

    .services-wrap-card {
        .image-icon {
            width: 270px;
        }
        .content {
            h3 {
                font-size: 22.5px;
            }
        }
    }

    .value-benefits-list-tabs {
        .nav {
            .nav-item {
                .nav-link {
                    padding: 45px 20px 45px 95px;
                    font-size: 16.5px;

                    .icon {
                        left: 20px;
                    }
                }
            }
        }
    }

    .value-benefits-content {
        .list {
            li {
                font-size: 14px;
                padding: 10px 10px 10px 32px;

                i {
                    left: 10.5px;
                    top: 12.5px;
                    font-size: 15.5px;
                }
            }
        }
    }

    .overview-wrap-inner-box {
        padding: {
            left: 50px;
            right: 50px;
        };
    }

    .awesome-solutions-card {
        padding: 25px;

        h3 {
            font-size: 22.2px;
        }
    }

    .footer-wrap-area {
        .single-footer-widget {
            .newsletter-form {
                button {
                    padding: 0 10px;
                    font-size: 14px;
                }
            }
        }
    }

    .user-analysis-banner-content {
        h1 {
            font-size: 55px;
        }
        p {
            max-width: 400px;
        }
    }

    .features-wrap-card {
        padding: 20px;
    }

    .services-wrap-box {
        padding: 20px;
    }

    .value-benefits-wrap-content {
        .list {
            li {
                font-size: 14px;
                padding: 10px 10px 10px 32px;
    
                i {
                    left: 10.5px;
                    top: 12.5px;
                    font-size: 15.5px;
                }
            }
        }
    }

    .data-science-banner-content {
        h1 {
            font-size: 52px;
        }
        p {
            max-width: 400px;
        }
    }

    .our-awards-card {
        h3 {
            font-size: 20.2px;
        }
    }

    /* End "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_six) and ($feature_max : $value_seven) {
    .main-banner {
        padding: {
            bottom: 250px;
            left: 30px;
            right: 30px;
        }
    }
    .main-banner-content {
        h1 {
            font-size: 71px;
        }
    }
}

@media only #{$media} and ($feature_min : $value_eight) {
    .top-header {
        padding: {
            left: 40px;
            right: 40px;
        }
    }
    .saniiro-nav {
        padding: {
            right: 40px;
            left: 40px;
        }
    }
    .main-banner {
        padding: {
            top: 0;
            bottom: 160px;
            left: 130px;
            right: 130px;
        }
    }
    .main-banner-image {
        top: 135px;
    }
    .main-banner-content {
        top: 280px;
    }

    /* Start "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */

    .data-analysis-banner {
        .container-fluid {
            padding: {
                left: 130px;
                right: 130px;
            };
        }
    }

    .user-analysis-banner {
        .container-fluid {
            padding: {
                left: 130px;
                right: 130px;
            };
        }
    }

    .data-science-banner {
        .container-fluid {
            padding: {
                left: 130px;
                right: 130px;
            };
        }
    }

    /* End "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */
}

// New Add
@media only #{$media} and ($feature_min : $value_nine) and ($feature_max : $value_ten) {

    /* Start "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */

    .data-analysis-banner {
        padding: {
            top: 255px;
            bottom: 120px;
        };
    }

    .solutions-wrap-card {
        h3 {
            font-size: 22.2px;
        }
    }

    .about-wrap-content {
        padding-left: 0;
    }

    .value-benefits-list-tabs {
        .nav {
            .nav-item {
                .nav-link {
                    padding: 45px 45px 45px 95px;
                    font-size: 16.5px;

                    .icon {
                        left: 20px;
                    }
                }
            }
        }
    }

    .awesome-solutions-card {
        padding: 22px;

        h3 {
            font-size: 21.2px;
        }
    }

    .user-analysis-banner-content {
        h1 {
            font-size: 65px;
        }
    }

    .features-wrap-card {
        padding: 20px;

        .content {
            h3 {
                font-size: 20.2px;
            }
        }
    }

    .our-awards-card {
        h3 {
            font-size: 22.2px;
        }
    }

    /* End "Data Analysis Demo Responsive, "User Analysis Demo Responsive & Data Science Demo Responsive" */
}