<!-- Links of JS files -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="js/all.min.js"></script>  
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="js/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="js/jquery.meanmenu.js"></script>
<script type="text/javascript" src="js/progresscircle.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<!-- <script type="text/javascript" src="js/form-validator.min.js"></script>
<script type="text/javascript" src="js/contact-form-script.js"></script> -->
<script type="text/javascript" src="../js/main.js"></script>