 <!-- Links of CSS files -->
 <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/css/all.min.css" >
 <link rel="stylesheet" type="text/css" href="/css/boxicons.min.css" >
 <link rel="stylesheet" type="text/css" href="/css/flaticon.css" >
 <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css" >
 <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css" >
 <link rel="stylesheet" type="text/css" href="/css/magnific-popup.min.css" >
 <link rel="stylesheet" type="text/css" href="/css/nice-select.css" >
 <link rel="stylesheet" type="text/css" href="/css/meanmenu.css" >
 <link rel="stylesheet" type="text/css" href="/css/progresscircle.min.css" >
 <link rel="stylesheet" type="text/css" href="/css/style.css" >
 <link rel="stylesheet" type="text/css" href="/css/responsive.css" >
 <link rel="stylesheet" type="text/css" href="/css/dark-style.css" >

