<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="request-demo-modal-label">Request a demo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3 needs-validation" novalidate>
                <div class="form-group col-md-12">
                  <label for="company-name" class="form-label">Company Name</label>
                  <input type="text" class="form-control form-control-sm " name="company_name" id="company-name" required>
                  <div class="invalid-feedback"> **Company name is missing </div>
                </div>
                <div class="form-group col-md-12">
                  <label for="keyperson-name" class="form-label">Key Person Name</label>
                  <input type="text" class="form-control form-control-sm " name="keyperson_name" id="keyperson-name" required>
                  <div class="invalid-feedback"> **Key person name is missing </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="country-code" class="form-label">ISD</label>
                    <select class="form-select" name="country_code" id="country-code" required>
                        <option selected disabled value="-1">Choose...</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback"> **Country code is missing </div>
                </div>
                
                <div class="form-group col-md-8">
                    <label for="contact-number" class="form-label">Contact Number</label>
                    <input type="text" class="form-control" name="contact_number" id="contact-number" required>
                    <div class="invalid-feedback"> **Key person name is missing </div>
                </div>
                
                <div class="form-group col-md-12">
                  <label for="email-address" class="form-label">Email Address</label>
                  <input type="email" class="form-control" name="email_address" id="email-address" required>
                  <div class="invalid-feedback"> **Email address is missing </div>
                </div>

                <div class="form-group col-md-12">
                    <label for="message" class="form-label">Tell us more</label>
                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Additional Information" required></textarea>
                    <div class="invalid-feedback"> **Additional information is missing </div>
                  </div>

                <div class="col-12">
                  <button class="btn btn-primary btn-sm " type="submit">Submit Request</button>
                </div>
              </form>   
        </div>
      </div>
    </div>
  </div>










<form>
    <fieldset disabled>
      <legend>Disabled fieldset example</legend>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Disabled input</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Disabled select menu</label>
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
          <label class="form-check-label" for="disabledFieldsetCheck">
            Can't check this
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>