        <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <!-- <header>
                                <h5>
                                    <span class="headline"> Saniiro Technologies </span>
                                    <span class="content">Headquarters</span>
                                </h5>
                                <div class="bt_bb_headline_subheadline">Organically grow the holistic world view of disruptive innovation via empowerment.</div>
                            </header> -->


                            <span class="headline"></span>
                            <h3 class="blockquote-footer display-3"> Saniiro Technologies </h3>
                            <h5 class="h3 text-light fw-light">Headquarters</h5>

                            <ul class="footer-contact-list">
                                <li><span>Address:</span> 613 5th Floor, Apex Mall, Lalkothi, Jaipur-302015, Bharat</li>
                                <li><span>Email:</span> <a href="mailto:info@saniiro.com">info@saniiro.com</a></li>
                                <li><span>Phone:</span> <a href="tel:+917733065011">+91 7733065011 </a></li>
                                <li><span>Fax:</span> <a href="tel:+917733065011">+91 7733065011 </a></li>
                            </ul>
                        </div>
                      
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3 class="blockquote-footer display-3"> Our locations </h3>
                            <h5 class="h3 text-light fw-light">Where to find us?</h5>

                            <div class="logo">
                                <img src="/img/solid-worldmap.png" style="width: 277px; height: 177px;" class="w-100 h-auto object-fit-fill"
                                 alt="saniiro-logo">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                          
                            <ul class="quick-links-list" style="margin-top: 84px;">
                                <li><i class="fas fa-location-dot"></i> Mumbai, Bharat</li>
                                <li><i class="fas fa-location-dot"></i> Jaipur, Bharat</li>
                                <li><i class="fas fa-location-dot"></i> Lukhnow, Bharat</li>
                                <li><i class="fas fa-location-dot"></i> Pune, Bharat</li>
                                <li><i class="fas fa-location-dot"></i> Ahmedabad, Bharat</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3 class="blockquote-footer display-3"> Get in touch </h3>
                            <h5 class="h3 text-light fw-light ">Saniiro Social links</h5>
                            <p>Taking seamless key performance indicators offline to maximise the long tail.</p>

                            <ul class="social">
                                <li><a href="#" target="_blank"><i class="flaticon-facebook-letter-logo"></i></a></li>
                                <li><a href="#" target="_blank"><i class="flaticon-twitter-black-shape"></i></a></li>
                                <li><a href="#" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
                                <li><a href="#" target="_blank"><i class="flaticon-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <% const d = new Date();
                            let currentYear = d.getFullYear(); %>
                            <p>Copyright: © 2019-<%= currentYear %>, <a href="https://saniiro.com/" target="_blank">Saniiro Technologies Pvt. Ltd</a>. All Rights Reserved. </p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="circle-map"><img src="/img/circle-map.png" alt="image"></div>
        </footer>
        <!-- End Footer Area -->