<%# Dynamics Menu  %>
<% const menuItems=[ 
    {label: "Home" , link:"/" }, 
    {label: "About Us" , link:"/about-us" }, 
    {label: "Team" , link:"/team"}, 
    {label: "Partner" , link:"/partner" },
    {label: "Blog" , link:"/blog",
        submenu:[
            {label: "Blog Grid" , link:"/blog/one"},
            {label: "Blog Right Sidebar" , link:"/blog/two"},
            {label: "Blog Details" , link:"/blog"} 
        ]},
    {label: "Contact" , link:"/contact" },
    {label: "What's New" , link:"/whats-new" } 
] %>




<!-- Start Header Area -->
<header class="header-area">

    <!-- Start Top Header -->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><span>Address:</span>
                        <i class="fas fa-location-dot"></i> <a href="https://maps.google.com/?q=Apex Mall, Lalkothi, Jaipur-302015" target="_blank">613 5th Floor, Apex Mall, Lalkothi,
                        Jaipur-302015</a>
                    </p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><span>Contact Sales:</span> <i class="fas fa-phone"></i> <a href="tel:+917733065011">+91
                                7733065011</a></li>
                        <li><span>Contact Email:</span> <i class="fas fa-envelope"></i> <a
                                href="mailto:info@saniiro.com">info@saniiro.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="saniiro-responsive-nav">
            <div class="container">
                <div class="saniiro-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/img/saniiro-logo.png" class="object-fit-fill bg-white border border-1 rounded-3"
                                width="170" height="53" alt="saniiro-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="saniiro-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand " href="/index">
                        <img src="/img/saniiro-logo.png" class="object-fit-cover bg-white border border-1 rounded-3"
                            width="170" height="53" alt="saniiro-logo">
                    </a>
                         <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <% menuItems.forEach(menu => { %> 
                                    <li class="nav-item"><a href="<%= menu.link %>" class="nav-link"><%= menu.label %></a>
                                    <% if(menu.submenu && menu.submenu.length > 0){ %>
                                        
                                        <ul class="dropdown-menu">
                                        <% menu.submenu.forEach(element => { %>
                                            <li class="nav-item"><a href="<%= element.link %>" class="nav-link"><%= element.label %></a></li> 
                                        <% }); %>

                                        </ul>
                                    <% } %>
                                </li>
                                <% }); %>
                            </ul>
                           
                        <div class="others-options">
                            <a href="cart" class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>

                            <div class="option-item"><i class="search-btn fa-solid fa-magnifying-glass"></i>
                                <i class="close-btn fas fa-times"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit"><i
                                                    class="fas fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <a type="button" class="btn btn-sm py-2 px-3 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Request A Demo</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

</header>
<!-- End Header Area -->