 <!-- Start Main Banner Area -->
 <div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="main-banner-content">
                    <i class='bx bxs-universal-access'></i><h1>SANIIRO BAIMS</h1>
                    <h5 class="text-light">Real time billing &amp; Accounting Software</h5>
                    <p>
                        BAIMS is real time billing software with advance accounting features,
                        smart inventory management and advance and intelligent MIS reporting system,
                        enable with QR/Barcode feature, user role access, security and many more...</p>
                    <div class="btn-box">
                        <a href="#" class="btn btn-primary">Try It Free</a>
                        <a href="#" class="btn btn-light">Request A Demo</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="main-banner-image">
                    <img src="img/banner-saniiro.jpeg" class="object-fit-cover border rounded-2" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="banner-shape"><img src="img/banner-shape.png" alt="image"></div>
    <div class="banner-white-shape"><img src="img/white-shape.png" alt="image"></div>
    <div class="shape3"><img src="img/shape/1.svg" alt="image"></div>
    <div class="shape2"><img src="img/shape/1.svg" alt="image"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Main Banner Area -->
