<div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Add a container for the toasts -->
    <div id="toast-container" class="toast-container top-0 end-0 p-3">
        <!-- Toasts will be appended here -->
    </div>
</div>