<!-- Start Featured Services Area -->
<section class="featured-services-area ptb-110">
    <div class="container">
        <div class="row">
            <h3 class="h3 text-center">Stay Ahead in a Rapidly Evolving Market with Streamlined Solution</h3>
            <p class="text-center h6">Stay Informed and In Control with Saniiro's Streamlined Cloud Management System</p>
            <div class="featured-services-slides owl-carousel owl-theme mt-3">
                
                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-ffb8c8">
                            <!-- <i class="flaticon-big-data-1"></i> -->
                            <i class="fas fa-dollar-sign fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro Billing System</a></h3>
                        <p>Billing Software is designed to create invoices in simplest way using various tools.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-ffb8c8">
                            <!-- <i class="flaticon-big-data-1"></i> -->
                            <i class="fas fa-cubes fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro Inventory System</a></h3>
                        <p>Inventory Management System is software system for tracking inventory levels, orders, sales and deliveries.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-ffb8c8">
                            <!-- <i class="flaticon-big-data-1"></i> -->
                            <i class="fas fa-chart-line fs-3"></i>
                        </div>

                        <h3 class="h5"><a href="#">Saniiro Account &amp; Finance</a></h4>
                        <p>Accounting Software is an application software that records and processes accounting transaction </p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-ffb8c8">
                            <!-- <i class="flaticon-big-data-1"></i> -->
                            <i class="fas fa-users fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro CRM</a></h3>
                        <p>Customer Relationship Management software helps businesses keep customer contact details up to date with employee tracking.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-cefffe">
                            <i class="fas fa-file-invoice-dollar fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro Quotation</a></h3>
                        <p>Quotation Management Software aimed to improve client's business efficiency in greeting and generating quotation.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-dfffd7">
                            <i class="fas fa-building fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro Fixed Asset</a></h3>
                        <p>Quotation Management Software aimed to improve client's business efficiency in greeting and generating quotation.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-dfffd7">
                            <i class="fas fa-cogs fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro Product &amp; Process</a></h3>
                        <p>Quotation Management Software aimed to improve client's business efficiency in greeting and generating quotation.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="single-services-box">
                        <div class="icon bg-dfffd7">
                            <i class="fas fa-gavel fs-3"></i>
                        </div>

                        <h3><a href="#">Saniiro Statutory Compliance</a></h3>
                        <p>This module helps to comply with govt. statutory compliances and taxes on items and profits.</p>
                        <a href="#" class="learn-more-btn">Learn More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape4"><img src="img/shape/1.svg" alt="image"></div>
    <div class="shape5"><img src="img/shape/1.svg" alt="image"></div>
</section>
<!-- End Featured Services Area -->