<!-- Start Feedback Area -->
<section class="feedback-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Clients Feedback</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div class="feedback-slides owl-carousel owl-theme">
        <div class="single-feedback-item">
            <div class="feedback-desc">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
            </div>

            <div class="client-info">
                <img src="/img/author1.jpg" alt="image">
                <h3>Filip Luis</h3>
                <span>Founder & CEO</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <div class="feedback-desc">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
            </div>

            <div class="client-info">
                <img src="/img/author2.jpg" alt="image">
                <h3>David Luiz</h3>
                <span>Desginer</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <div class="feedback-desc">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
            </div>

            <div class="client-info">
                <img src="/img/author3.jpg" alt="image">
                <h3>Sarah Taylor</h3>
                <span>Manager</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <div class="feedback-desc">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
            </div>

            <div class="client-info">
                <img src="/img/author4.jpg" alt="image">
                <h3>James Anderson</h3>
                <span>Developer</span>
            </div>
        </div>
    </div>
</section>
<!-- End Feedback Area -->