 <!-- Start Features Area -->
 <section class="features-area ptb-110 bg-f1f3f6">
    <div class="container">
        <div class="section-title">
            <h2>One step ahead in the race!</h2>
            <p>Streamline everything about your business without hassle. Say good bye to manual work & automate your dream. We are here to provide you simplified solution to every problem & let your empire grow even bigger!</p>
        </div>

        <div class="overview-box">
            <div class="image">
                <img src="/img/saniiro-appliaction.png" alt="image">
            </div>

            <div class="content">
                <h3>Streamline Your Business</h3>
                <p>Simplify accounting, manage inventory, generate invoices and estimates, track sales and orders, and keep an eye on expenses and bills all in one place.</p>

                <ul class="features-list">
                    <li><span><i class='bx bx-check-double'></i> Simplify Accounting</span></li>
                    <li><span><i class='bx bx-check-double'></i> Inventory Manager</span></li>
                    <li><span><i class='bx bx-check-double'></i> Generate Invoices</span></li>
                    <li><span><i class='bx bx-check-double'></i> Generate Estimates</span></li>
                    <li><span><i class='bx bx-check-double'></i> Sales &amp; Order Tracker</span></li>
                    <li><span><i class='bx bx-check-double'></i> Expense &amp; Bill Tracker</span></li>
                </ul>
            </div>
        </div>

        <!-- <div class="overview-box">
            <div class="content">
                <h3>Risk Management</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <ul class="features-list">
                    <li><span><i class='bx bx-check-double'></i> Customer churn prediction</span></li>
                    <li><span><i class='bx bx-check-double'></i> Psychological scoring</span></li>
                    <li><span><i class='bx bx-check-double'></i> Fraud detection</span></li>
                    <li><span><i class='bx bx-check-double'></i> Preventive maintenance</span></li>
                    <li><span><i class='bx bx-check-double'></i> HR analytics</span></li>
                    <li><span><i class='bx bx-check-double'></i> Social media monitoring</span></li>
                </ul>
            </div>

            <div class="image">
                <img src="/img/2.png" alt="image">
            </div>
        </div> -->

        <!-- <div class="overview-box">
            <div class="image">
                <img src="/img/3.png" alt="image">
            </div>

            <div class="content">
                <h3>Operations Management</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <ul class="features-list">
                    <li><span><i class='bx bx-check-double'></i> Image recognition</span></li>
                    <li><span><i class='bx bx-check-double'></i> Warehouse optimization</span></li>
                    <li><span><i class='bx bx-check-double'></i> Logistics optimization</span></li>
                    <li><span><i class='bx bx-check-double'></i> Supply chain optimization</span></li>
                    <li><span><i class='bx bx-check-double'></i> Work shifts optimization</span></li>
                    <li><span><i class='bx bx-check-double'></i> Chat bots and call robots</span></li>
                </ul>
            </div>
        </div> -->
    </div>

    <div class="rectangle-shape1"><img src="/img/rectangle-shape1.png" alt="image"></div>
    <div class="rectangle-shape2"><img src="/img/rectangle-shape2.png" alt="image"></div>
    <div class="shape1"><img src="/img/shape/1.svg" alt="image"></div>
    <div class="shape2"><img src="/img/shape/1.svg" alt="image"></div>
    <div class="shape3"><img src="/img/shape/1.svg" alt="image"></div>
</section>
<!-- End Features Area -->