  <!-- Start How It Works Area -->
  <section class="how-it-works-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Our Proven track</h2>
            <p>Unleashing Expertise in Professional Services.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-it-work-box">
                    <div class="icon">
                        <i class="fas fa-smile fa-3x"></i>
                    </div>
                    <h3>10K+ Happy Customers</h3>
                    <!-- <p>With a strong commitment to excellence, we've proudly served over 10,000 satisfied customers. Our dedication to providing top-notch solutions is what sets us apart, and we look forward to exceeding your expectations too.</p> -->
                    <p>We've proudly served over 10,000 satisfied customers.</p>
                    <div class="number-text">1</div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-it-work-box">
                    <div class="icon">
                        <i class="fas fa-flag fa-3x"></i>
                    </div>
                    <h3>6Y+ industry Expertise</h3>
                    <!-- <p>Our extensive industry experience is the bedrock of our success. With a profound understanding of the unique challenges within your sector, we are adept at crafting tailored solutions that steer your business toward unparalleled success.</p> -->
                    <p>Our extensive industry experience is the bedrock of our success.</p>

                    <div class="number-text">2</div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-it-work-box">
                    <div class="icon">
                        <i class="fas fa-chart-line fa-3x"></i>
                    </div>
                    <h3>4.9/5 Google Reviews</h3>
                    <!-- <p>With a remarkable 4.9/5 rating on Google Reviews, our commitment to excellence is reflected in the experiences of our valued customers. We take immense pride in providing top-tier services and solutions, and our clients' positive feedback.</p> -->
                    <p>Our commitment to excellence is reflected in the experiences.</p>

                    <div class="number-text">3</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div class="single-how-it-work-box">
                    <div class="icon">
                        <i class="fas fa-mobile-alt fa-3x"></i>
                    </div>
                    <h3>Multi-Device Access</h3>
                    <p>Access anytime, anywhere. Stay connected with our service on all devices.</p>
                    <div class="number-text">4</div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="single-how-it-work-box">
                    <div class="icon">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <h3>Multi-User Access</h3>
                    <p>Access your account across multiple users with ease.</p>

                    <div class="number-text">5</div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End How It Works Area -->