<!-- Start Partner Area -->
<section class="partner-area ptb-110 bg-f1f3f6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="question-form">
                    <h3>Have a question?</h3>
                    <p>Submit your details our experts will reply you with a quote very soon.</p>

                    <form class="was-validated row gy-2 gx-3 align-items-center">

                        <div class="form-group col-12 ">
                            <input type="text" name="contact-name" id="contact-name" class="form-control"
                                placeholder="Name" aria-keyshortcuts="n">
                            <span id="contact-name-check" class="form-text invalid-feedback"> **Name is missing </span>
                        </div>

                        <div class="form-group col-12 ">
                            <input type="email" name="contact-email" id="contact-email" class="form-control"
                                placeholder="Email">
                            <span id="contact-email-check" class="form-text invalid-feedback"> Your email must be a
                                valid email </span>
                        </div>

                        <div class="form-group col-5 ">
                            <select name="contact-country-code" id="contact-country-code" class="form-select"
                                placeholder="Code">
                            </select>
                            <h5 id="codecheck" class="form-text invalid-feedback"> **Please Fill the country code </h5>
                        </div>

                        <div class="form-group col-7 ">
                            <input type="text" name="contact-mobile" id="contact-mobile" class="form-control"
                                placeholder="Mobile">
                        </div>
                            <h5 id="contact-mobile-check" class="form-text invalid-feedback"> **Please Fill the mobile
                            </h5>

                        <div class="form-group col-12 ">
                            <textarea name="contact-message" id="contact-message" cols="30" rows="4"
                                class="form-control" placeholder="Message"></textarea>
                            <h5 id="contact-message-check" class="form-text invalid-feedback"> **Please Fill the message
                            </h5>
                        </div>

                        <button type="submit" id="contact-submit-btn" class="btn btn-primary">Submit Message</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="partner-inner-content">
                    <h2>Our Prestigious Clients</h2>
                    <p>We are proud to serve a distinguished clientele that trusts our expertise.</p>

                    <div class="our-clients-list">
                        <div class="single-clients">
                            <a href="https://www.aclfoods.com/" target="_blank">
                                <img src="/img/partner/acl-foods.png" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="http://dazzlesportswear.com/" target="_blank">
                                <img src="/img/partner/dazzel-sportswear.png" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="https://www.erishaagritech.com/" target="_blank">
                                <img src="/img/partner/erisha-agritech.png" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="https://www.erishaev.com/" target="_blank">
                                <img src="/img/partner/erisha-emobility.png" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="https://www.hearinghealthcareclinics.com/" target="_blank">
                                <img src="/img/partner/hearing-healthcare.png" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="https://krishimulya.in/" target="_blank">
                                <img src="/img/partner/krishimulya.png" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="https://www.palaceatelier.com/" target="_blank">
                                <img src="/img/partner/palace-atelier.jpg" alt="image">
                            </a>
                        </div>

                        <div class="single-clients">
                            <a href="https://www.thepdkfstore.com/" target="_blank">
                                <img src="/img/partner/pdkf-store.png" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partner Area -->

<script>
    
    (function ($) {

        $("#aaa").on('click', () => {
            snackbar.error("Hello Sanjay");
        })

        const $element = $('#contact-country-code').select2();
        
        const $request = axiosGet('api/v1/country-codes');
                    
        $request.then(function (response) {
            const data = response.data;

            for (let d = 0; d < data.length; d++) {
                let item = data[d];

                // Create the DOM option that is pre-selected by default
                let option = new Option(`${item.Iso} (${item.Phonecode})`, `${item.Phonecode}-${item.Length}`, true, (item.Iso==='IN'?true:false));

                // Append it to the select
                $element.append(option);
            }

            // Update the selected options that are displayed
            $element.trigger('change');
        }).catch(function (error) {
            // console.error(error);
            toastr.error(error);
        });

    })(jQuery);

    // Contact Form
    (function ($) {
        // Validate Username
        $("#contact-name-check").hide();
        let nameError = true;
        $("#contact-name").keyup(function () {
            validateName();
        });

        function validateName() {
            const nameValue = $("#contact-name").val();
            if (nameValue.length === "") {
                $("#contact-name-check").show();
                nameError = false;
            }
            else if (nameValue.length < 3 || nameValue.length > 50) {
                $("#contact-name-check").show();
                $("#contact-name-check").html("**length of name must be between 3 and 10");
                nameError = false;
            }
            else {
                $("#contact-name-check").hide();
                nameError = true;
            }
            console.log(`is name validated: ${nameError}`);
        }


        // Validate Email
        $("#contact-email-check").hide();
        let emailError = true;
        $("#contact-email").on('blur', () => {
            validateEmail();
        });

        function validateEmail() {
            let regex = /^([_\-\.0-9a-zA-Z]+)@([_\-\.0-9a-zA-Z]+)\.([a-zA-Z]){2,7}$/;

            let emailValue = $("#contact-email").val();
            // email.classList.remove("is-invalid");

            if (emailValue.length == "") {
                $("#contact-email-check").show();
                emailError = false;
            }
            else if (regex.test(emailValue)) {
                //email.removeClass('is-invalid')
                $("#contact-email-check").hide();
                emailError = true;
            } else {
                //email.addClass('is-invalid')
                $("#contact-email-check").html("**invalid email address entered.");
                $("#contact-email-check").show();
                emailError = false;
            }
            console.log(`is email validated: ${emailError}`);
        }



        $('#contact-country-code').on('change', (e) => {
            const datalength = e.target.options[e.target.selectedIndex].dataset.length;
            $('#contact-mobile').attr('pattern', "^[0-9]{" + datalength + "}$");
            $('#contact-mobile').attr('maxlength', datalength);
        });

        // Validate mobile
        $("#contact-mobile-check").hide();
        let mobileError = true;
        $("#contact-mobile").keyup(function () {
            validateMobile();
        });

        function validateMobile() {
            let mobileValue = $("#contact-mobile").val();
            if (mobileValue.length === "") {
                $("#contact-mobile-check").show();
                mobileError = false;
            }
            else if (mobileValue.length !== 10) {
                $("#contact-mobile-check").html("**length of your mobile must be 10 digit").show();
                mobileError = false;
            }
            else {
                $("#contact-mobile-check").hide();
                mobileError = true;
            }

            console.log(`is mobile no validated: ${mobileError}`);
        }

        // Validate message
        $("#contact-message-check").hide();
        let messageError = true;
        $("#contact-message").keyup(function () {
            validateMessage();
        });
        function validateMessage() {
            let messageValue = $("#contact-message").val();
            if (messageValue.length == "") {
                $("#contact-message-check").show();
                messageError = false;
                return false;
            }

            if (messageValue.length < 3 || messageValue.length > 140) {
                $("#contact-message-check").show();
                $("#contact-message-check").html("**length of your message must be between 3 and 10");
                //$("#mobilecheck").css("color", "red");
                messageError = false;
            }
            else {
                $("#contact-message-check").hide();
                console.log("Message validated");
                messageError = true;
            }

            console.log(`is message validated: ${messageError}`);
        }


        // Submit button
        $("#contact-submit-btn").click(function (event) {
            event.preventDefault();
            console.log("button clicked");

            validateName();
            validateEmail();
            validateMobile();
            validateMessage();

            if (
                nameError == true &&
                emailError == true &&
                mobileError == true &&
                messageError == true
            ) {
                console.log("submitting contact request..")
                const d = {
                    name: $("#contact-name").val(),
                    email: $("#contact-email").val(),
                    phoneCode: "+"+$('#contact-country-code').find(':selected').val(),
                    mobile: $("#contact-mobile").val(),
                    message: $("#contact-message").val(),
                    type: "Contact",
                    requetForm: "ContactForm"
                }
                axios.post('/api/v1/contact-detail', d)
                    .then(function (response) {
                        const data = response.data;
                        console.log(response);
                        toastr.success(data.message);
                    })
                    .catch(function (error) {
                        console.error(error);
                        toastr.error(error);
                    });
                
                return true;
            } else {
                toastr.warning("Plase check form");
                return false;
            }
        });
    })(jQuery);


</script>