 <!-- Start Resources Area -->
 <section class="resources-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Big Data Resources</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    
    <div class="resources-slides owl-carousel owl-theme">
        <div class="single-resources-box">
            <div class="resources-image">
                <a href="#"><img src="/img/resources/1.jpg" alt="image"></a>
            </div>

            <div class="resources-content">
                <h3><a href="#">Gaining New Insights from Data Lakes</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <a href="#" class="learn-more-btn">Read More <i class="flaticon-add-1"></i></a>
            </div>
        </div>

        <div class="single-resources-box">
            <div class="resources-image">
                <a href="#"><img src="/img/resources/2.jpg" alt="image"></a>
            </div>

            <div class="resources-content">
                <h3><a href="#">Tackle AI and Data Analytics Workloads</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <a href="#" class="learn-more-btn">Read More <i class="flaticon-add-1"></i></a>
            </div>
        </div>

        <div class="single-resources-box">
            <div class="resources-image">
                <a href="#"><img src="/img/resources/3.jpg" alt="image"></a>
            </div>

            <div class="resources-content">
                <h3><a href="#">Top 10 Machine Learning on a Data Lake</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <a href="#" class="learn-more-btn">Read More <i class="flaticon-add-1"></i></a>
            </div>
        </div>

        <div class="single-resources-box">
            <div class="resources-image">
                <a href="#"><img src="/img/resources/4.jpg" alt="image"></a>
            </div>

            <div class="resources-content">
                <h3><a href="#">Top 10 Data Resources Online in 2021</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <a href="#" class="learn-more-btn">Read More <i class="flaticon-add-1"></i></a>
            </div>
        </div>

        <div class="single-resources-box">
            <div class="resources-image">
                <a href="#"><img src="/img/resources/5.jpg" alt="image"></a>
            </div>

            <div class="resources-content">
                <h3><a href="#">Free Data Sources For Your Next Project</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <a href="#" class="learn-more-btn">Read More <i class="flaticon-add-1"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- End Resources Area -->