 <!-- Start Why Choose Us Area -->
 <section class="why-choose-us-area ptb-110">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Why Choose Saniiro?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-choose-us-box">
                    <div class="title">
                        <div class="icon">
                            <i class='fas fa-tools'></i>
                        </div>
                        <h3>Multi Business Solutions</h3>
                    </div>

                    <div class="content">
                        <h3>Multi Business Solutions</h3>
                        <p>Unlock the full potential of ERP and CRM solutions at your fingertips.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-choose-us-box">
                    <div class="title">
                        <div class="icon">
                            <i class='fas fa-chart-bar  '></i>
                        </div>
                        <h3>Simplify Reports</h3>
                    </div>

                    <div class="content">
                        <h3>Simplify Reports</h3>
                        <p>An intelligent reporting system, simplifies data analysis and decision-making for your business.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-choose-us-box">
                    <div class="title">
                        <div class="icon">
                            <i class='fas fa-flag'></i>
                        </div>
                        <h3>Make In India Software</h3>
                    </div>

                    <div class="content">
                        <h3>Make In India Software</h3>
                        <p>Crafted with indian Business in Mind.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-choose-us-box">
                    <div class="title">
                        <div class="icon">
                            <i class='fas fa-link'></i>
                        </div>
                        <h3>Seamless Integration</h3>
                    </div>

                    <div class="content">
                        <h3>Seamless Integration</h3>
                        <p>Effortlessly connect with other software and government sites.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-choose-us-box">
                    <div class="title">
                        <div class="icon">
                            <i class='fas fa-industry'></i>
                        </div>
                        <h3>MSME Compliant</h3>
                    </div>

                    <div class="content">
                        <h3>MSME Compliant</h3>
                        <p>Our software is designed with compliance to the MSME Act, ensuring seamless reporting and adherence to statutory requirements.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-choose-us-box">
                    <div class="title">
                        <div class="icon">
                            <i class='fas fa-cog'></i>
                        </div>
                        <h3>Efficient Eway Bill Software</h3>
                    </div>

                    <div class="content">
                        <h3>Efficient Eway Bill Software</h3>
                        <p>Streamline E-way bills and GST compliance effortlessly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- End Why Choose Us Area -->